<!--<div class="c-info-card c-info-card__ t-bg-soft-blue-light  ">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row ">
        </div>
        <div class="l-grid__row">
            <div class="l-grid__column-3 u-hidden-medium-down">
                <figure class="c-image c-info-card__image ">
                    <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/content/dam/onemarketing/azcddp/images/operator2.png" />
                </figure>
            </div>
            <div class="offset-large-1 l-grid__column-large-7">
                <div class="l-grid__row flex-column">
                    <div>
                        <h3 i18n="@@p2cu-headerDescription-hotlineSupport" class="c-heading c-heading--section u-text-medium-center-down u-text-center">
                            Hotline support: 223 853 853
                        </h3>
                    </div>
                    <div class="u-hidden-large-up l-grid__column-12 offset-small-4 l-grid__column-small-4 l-grid__column-xsmall-12 flex-medium-first u-margin-bottom-lg u-flex-basis-auto">
                        <figure class="c-image  ">
                            <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/content/dam/onemarketing/azcddp/images/operator.png" />
                        </figure>
                    </div>
                    <div>
                        <p i18n="@@p2cu-paragraph-allianzStrongPartner" class="c-copy u-text-medium-center-down u-text-center u-margin-bottom-0" style="font-size: 15px;">
                            Allianz is your strong partner, assisting you with any obstacle or difficulties that may cross your paths.
                        </p>
                    </div>
                    <div>
                        <p i18n="@@p2cu-paragraph-plzCallBack" class="c-copy u-text-medium-center-down u-text-center u-margin-bottom-0" style="font-size: 15px;">
                            I need more information please call me back.
                        </p>
                    </div>
                    <div>
                        <div class="c-textfield js-floating u-background-inherit u-margin-top-0 l-grid__column-large-5 u-margin-auto c-textfield--center u-padding-left-none u-padding-right-none">
                            <input id="txt_PhoneNo" class="c-textinput__field c-textinput__field--floating js-floating__input" required ngModel maxlength="10" (focus)="addClass($event)" (blur)="removeClass($event)" />
                            <label i18n="@@p2cu-label-phone" for="textinput1" class="c-textinput__label c-textinput__label--floating">
                     <span class="c-textinput__label--optional"></span>
                     Phone
                     </label>
                            <p class="c-textinput__label--bottom"></p>
                        </div>
                    </div>
                    <div class="u-margin-auto">
                        <button id="btn_GiveMeCall" i18n="@@p2cu-button-giveMeACall" class="c-button c-button u-margin-top-md" type="">
                  Give me a call
                  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->