<div class="l-grid l-grid--max-width">
  <div class="l-grid__row">
    <div class="l-grid__column-12 u-padding-top-lg">
      <h2 class="c-heading c-tile__heading-section--text-primary u-text-center u-margin-bottom-0 u-margin-top-lg">

   Allianz - our promise
   

</h2>

      <h2 class="c-heading c-tile__heading-section--text-secondary u-text-center">

   Dare to do whatever you want - we’re with you!
   

</h2>

    </div>
    <div class="l-grid__column-small-12 l-grid__column-medium-12 l-grid__column-large-4">
      <div class="c-tile c-tile--text">
  <div class="c_tile__image-wrapper c_tile__image-wrapper--fix-height">
    <figure class="c-image c-image--center ">
  <img class="c-image__img c-tile__image" alt="useful description of image if informative and not decoration only." src="../../images/Illustration/Heart.png">
</figure>

  </div>

  <h5 class="c-heading c-tile__heading-sub-section">

   We care about our customers.
   

</h5>


  <p class="c-copy ">
  
    In 2015, our average customer rating was 1,8. Just enough to let us strive for even more, every single day.
    
  
</p>

</div>

    </div>
    <div class="l-grid__column-small-12 l-grid__column-medium-12 l-grid__column-large-4">
      <div class="c-tile c-tile--text">
  <div class="c_tile__image-wrapper c_tile__image-wrapper--fix-height">
    <figure class="c-image c-image--center ">
  <img class="c-image__img c-tile__image" alt="useful description of image if informative and not decoration only." src="../../images/Illustration/Stars.png">
</figure>

  </div>

  <h5 class="c-heading c-tile__heading-sub-section">

   We know what we’re doing.
   

</h5>


  <p class="c-copy ">
  
    We started selling insurances 125 years ago. We use our knowledge and expertise to improve our customer’s experience
    
  
</p>

</div>

    </div>
    <div class="l-grid__column-small-12 l-grid__column-medium-12 l-grid__column-large-4">
      <div class="c-tile c-tile--text">
  <div class="c_tile__image-wrapper c_tile__image-wrapper--fix-height">
    <figure class="c-image c-image--center ">
  <img class="c-image__img c-tile__image" alt="useful description of image if informative and not decoration only." src="../../images/Illustration/Badge.png">
</figure>

  </div>

  <h5 class="c-heading c-tile__heading-sub-section">

   We’ve got special offers to you.
   

</h5>


  <p class="c-copy ">
  
    Get individual advantages based on your needs, day by day. Your personal Allianz web portal awaits you with tailor-made offers.
    
  
</p>

</div>

    </div>

      <div class="c-tile-container">
  <div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
      <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-12">
        <h2 class="c-heading c-tile__heading-section--standard u-text-center">

   What would you like to do?
   

</h2>

      </div>
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img class="c-image__img c-tile__image" alt="useful description of image if informative and not decoration only." src="../../images/product-page/Car.png">
</figure>


    <h5 class="c-heading c-tile__heading-sub-section">

   Product Package
   

</h5>


        <span class="c-link c-link--block c-tile__info-link">

    <span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img class="c-image__img c-tile__image" alt="useful description of image if informative and not decoration only." src="../../images/product-page/Checklist.png">
</figure>


    <h5 class="c-heading c-tile__heading-sub-section">

   Get a quote
   

</h5>


        <span class="c-link c-link--block c-tile__info-link">

    <span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img class="c-image__img c-tile__image" alt="useful description of image if informative and not decoration only." src="../../images/product-page/Phone.png">
</figure>


    <h5 class="c-heading c-tile__heading-sub-section">

   See my insurance product
   

</h5>


        <span class="c-link c-link--block c-tile__info-link">

    <span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img class="c-image__img c-tile__image" alt="useful description of image if informative and not decoration only." src="../../images/product-page/Shield.png">
</figure>


    <h5 class="c-heading c-tile__heading-sub-section">

   See car benefit
   

</h5>


        <span class="c-link c-link--block c-tile__info-link">

    <span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img class="c-image__img c-tile__image" alt="useful description of image if informative and not decoration only." src="../../images/product-page/World.png">
</figure>


    <h5 class="c-heading c-tile__heading-sub-section">

   Close cooperation with service garages globally
   

</h5>


        <span class="c-link c-link--block c-tile__info-link">

    <span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img class="c-image__img c-tile__image" alt="useful description of image if informative and not decoration only." src="../../images/product-page/Headset.png">
</figure>


    <h5 class="c-heading c-tile__heading-sub-section">

   Instant help in case of a car accident
   

</h5>


        <span class="c-link c-link--block c-tile__info-link">

    <span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
    </div>
  </div>
</div>

  </div>
</div>