<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>This is Grid Row 2 coulmn button component </div> 



<div class="l-grid l-grid--max-width">
    <div class="l-grid__row justify-content-center u-margin-top-lg u-padding-top-lg u-margin-bottom-md u-padding-bottom-md">
      <div class="l-grid__column-large-3 l-grid__column-medium-3 l-grid__column-small-6 u-text-center">
       <sly data-sly-resource="${'button1' @ resourceType='qb-aem/components/content/button'}"></sly>

      </div>
      <div class="l-grid__column-large-3 l-grid__column-medium-3 l-grid__column-small-6 u-text-center">
        <sly data-sly-resource="${'button2' @ resourceType='qb-aem/components/content/button'}"></sly>

      </div>
    </div>
  </div>