<!-- <header-root></header-root> -->
<div class="c-poland-stage t-bg-rich-petrol-light ">
  <div class="l-grid__row justify-content-center">
    <div class="l-grid__column-10">
        <h1
  class="c-heading u-text-center"
  
  
  >

    
   Welcome <span class="u-text-weight-bold">Janina Kowalska</span>

</h1>

        <h4
  class="c-heading u-text-center"
  
  
  >

   Find out how we can help you
   

</h4>

        <ul class="c-icon-navigation c-icon-navigation--rounded-icons u-text-center" role="navigation" aria-label="Avaialble Insurance Offer">
    <li class="c-icon-navigation__item">
      <a  class="c-icon-navigation__link" [routerLink] ="['/dashboard']">
        <i class="c-icon-navigation__icon c-icon c-icon--poland c-icon--poland--service-occupant" aria-hidden="true"></i>
        <span class="c-icon-navigation__label" > My dashboard </span>
      </a>
    </li>
    <li class="c-icon-navigation__item" >
      <a  class="c-icon-navigation__link is-active"  [routerLink] ="['/policydetails']">
        <i class="c-icon-navigation__icon c-icon c-icon--product-heart" aria-hidden="true"></i>
        <span class="c-icon-navigation__label" > My policy </span>
      </a>
    </li>
    <li class="c-icon-navigation__item">
      <a href='#' class="c-icon-navigation__link ">
        <i class="c-icon-navigation__icon c-icon c-icon--poland c-icon--poland--service-car-o" aria-hidden="true"></i>
        <span class="c-icon-navigation__label"> Your Claim </span>
      </a>
    </li>
    <li class="c-icon-navigation__item">
      <a href='#' class="c-icon-navigation__link ">
        <i class="c-icon-navigation__icon c-icon c-icon--poland c-icon--poland--service-to-do" aria-hidden="true"></i>
        <span class="c-icon-navigation__label"> Get a quote </span>
      </a>
    </li>
</ul>

    </div>
  </div>
</div>


<div class="l-grid l-grid--max-width">
  <div class="l-grid__row justify-content-center">
  <h1
  class="c-heading u-text-center c-heading--section u-margin-top-lg u-padding-top-md"
  
  
  >

   My Policies
   

</h1>


<table class="c-table c-table--light has-border js-table-sortable ">
    <thead class="c-table__header">
      <tr class="c-table__header__row">
          <th class="c-table__header__cell">
            <div class="c-table__header__title--block">
              <span class="c-table__header__title"> </span>
            </div>
          </th>
          <th class="c-table__header__cell">
            <div class="c-table__header__title--block">
              <span class="c-table__header__title">Description</span>
            </div>
          </th>
          <th class="c-table__header__cell">
            <div class="c-table__header__title--block">
              <span class="c-table__header__title">Detail</span>
            </div>
          </th>
          <th class="c-table__header__cell">
            <div class="c-table__header__title--block">
              <span class="c-table__header__title">Coverage</span>
            </div>
          </th>
          <th class="c-table__header__cell">
            <div class="c-table__header__title--block">
              <span class="c-table__header__title">Exp date</span>
            </div>
          </th>
          <th class="c-table__header__cell">
            <div class="c-table__header__title--block">
              <span class="c-table__header__title">Status</span>
            </div>
          </th>
          <th class="c-table__header__cell">
            <div class="c-table__header__title--block">
              <span class="c-table__header__title"> </span>
            </div>
          </th>
          <th class="c-table__header__cell">
            <div class="c-table__header__title--block">
              <span class="c-table__header__title"> </span>
            </div>
          </th>
      </tr>
    </thead>

    <tbody class="c-table__content font-size-sm">
          <tr class="c-table__row ">
              <td class="c-table__cell ">
                    <span class="c-icon c-icon--poland c-icon--poland--service-car c-icon--2x"></span>
              </td>
              <td class="c-table__cell ">
                    <p class="c-copy u-text-weight-semibold u-margin-bottom-0" >
  
    VOLKSWAGEN Golf
    
  
</p>

                    <p class="c-copy u-margin-bottom-0" >
  
    2005 GTI
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy u-margin-bottom-0" >
  
    AM0808Q
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy u-margin-bottom-0" >
  
    TPL+MOD
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    23 Aug 2018
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    Active
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <a
  class="c-link c-table--light has-border js-table-sortable"

  href='#'

  >


  <span class="c-link__text">SHOW MORE</span>
  
</a>

              </td>
              <td class="c-table__cell ">
                    <a
  class="c-link t-rich-red"

  href='#'

  >


  <span class="c-link__text">PAYMENT</span>
  
</a>

              </td>
          </tr>
          <tr class="c-table__row ">
              <td class="c-table__cell ">
                    <span class="c-icon c-icon--poland c-icon--poland--service-heart c-icon--2x"></span>
              </td>
              <td class="c-table__cell ">
                    <p class="c-copy u-text-weight-semibold u-margin-bottom-0" >
  
    Health Insurance
    
  
</p>

                    <p class="c-copy u-margin-bottom-0" >
  
    Miss Janina J.
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    WM0808E
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    IPD
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    15 Aug 2018
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    Active
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <a
  class="c-link c-table--light has-border js-table-sortable"

  href='#'

  >


  <span class="c-link__text">SHOW MORE</span>
  
</a>

              </td>
              <td class="c-table__cell ">
                    <a
  class="c-link t-rich-red"

  href='#'

  >


  <span class="c-link__text">CHECK-UP</span>
  
</a>

              </td>
          </tr>
          <tr class="c-table__row ">
              <td class="c-table__cell ">
                    <span class="c-icon c-icon--poland c-icon--poland--service-house c-icon--2x"></span>
              </td>
              <td class="c-table__cell ">
                    <p class="c-copy u-text-weight-semibold u-margin-bottom-0" >
  
    Polish Apartment
    
  
</p>

                    <p class="c-copy u-margin-bottom-0" >
  
    no.16, Grabuczna st.
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    Details
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    Fire
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    23 Aug 2018
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    Archived
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <a
  class="c-link c-table--light has-border js-table-sortable"

  href='#'

  >


  <span class="c-link__text">SHOW MORE</span>
  
</a>

              </td>
              <td class="c-table__cell ">
              </td>
          </tr>
          <tr class="c-table__row ">
              <td class="c-table__cell ">
                    <span class="c-icon c-icon--poland c-icon--poland--service-car c-icon--2x"></span>
              </td>
              <td class="c-table__cell ">
                    <p class="c-copy u-text-weight-semibold u-margin-bottom-0" >
  
    VOLKSWAGEN Golf
    
  
</p>

                    <p class="c-copy u-margin-bottom-0" >
  
    V 1.9 TDi
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    Details
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    MOD
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    04 Aug 2018
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <p class="c-copy c-table--light has-border js-table-sortable" >
  
    Archived
    
  
</p>

              </td>
              <td class="c-table__cell ">
                    <a
  class="c-link c-table--light has-border js-table-sortable"

  href='#'

  >


  <span class="c-link__text">SHOW MORE</span>
  
</a>

              </td>
              <td class="c-table__cell ">
                    <a
  class="c-link t-rich-red"

  href='#'

  >


  <span class="c-link__text">PENDING</span>
  
</a>

              </td>
          </tr>
    </tbody>
</table>

    <a
  class="c-link c-link--block u-margin-bottom-lg"

  href='#'

  >

    <span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>

  <span class="c-link__text">GET A NEW QUOTE</span>
  
</a>

  </div>
  <div class="l-grid__row justify-content-center u-padding-top-lg u-padding-bottom-lg">
      <div class="c-tile-container">
  <div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
      <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-12">
        <h2
  class="c-heading c-tile__heading-section--standard u-text-center"
  
  
  >

   What would you like to do?
   

</h2>

      </div>
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img
    class="c-image__img c-tile__image"
    alt="useful description of image if informative and not decoration only."
    
    src="{{'/assets/images/product-page/Car.png' | imagepathresolver}}"  />
</figure>


    <h5
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   Product Package
   

</h5>


        <span
  class="c-link c-link--block c-tile__info-link"

   

  >

    <span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img
    class="c-image__img c-tile__image"
    alt="useful description of image if informative and not decoration only."
     src="{{'/assets/images/product-page/Checklist.png' | imagepathresolver}}"    />
</figure>


    <h5
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   Get a quote
   

</h5>


        <span
  class="c-link c-link--block c-tile__info-link"

   

  >

    <span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img
    class="c-image__img c-tile__image"
          src="{{'/assets/images/product-page/Phone.png' | imagepathresolver}}" />
</figure>


    <h5
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   See my insurance product
   

</h5>


        <span
  class="c-link c-link--block c-tile__info-link"

   

  >

    <span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
    </div>
  </div>
</div>

  </div>
</div>

<footer-root></footer-root>