<div class="c-info-card c-info-card--poland t-bg-soft-blue-light ">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
          <div class="offset-1 l-grid__column-2 u-hidden-medium-down align-self-center">
            <figure class="c-image c-info-card__image ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="${properties.opimage}">
</figure>

          </div>
          <div class="offset-large-1 l-grid__column-large-7 ">

            <div class="l-grid__row">
            <div class="l-grid__column-12">
                <h3 class="c-heading c-heading--section u-text-medium-center-down u-text-center u-margin-bottom-0">

   ${properties.titletext}
</figure>
   

</h3>

            </div>
  <div class="flex-medium-first u-hidden-large-up l-grid__column-12 offset-xsmall-2  l-grid__column-xsmall-8 offset-small-4 l-grid__column-small-4 offset-large-5 l-grid__column-large-2 u-margin-top-lg u-margin-bottom-lg u-flex-basis-auto">
            <figure class="c-image c-info-card__image ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="../../images/operator2.png">
</figure>

            </div>
            <div class="l-grid__column-12 u-padding-top-sm">
                <div class="l-grid__row">
                    <div class="l-grid__column-large-6 l-grid__column-medium-6 l-grid__column-small-12 u-padding-right-none u-position-relative">
                        <h4 class="c-heading u-hidden-small-down u-position-absolute u-bottom-0">

   My phone number is
   

</h4>

                        <h4 class="c-heading u-hidden-medium-up u-bottom-0 u-text-center">

   My phone number is
   

</h4>

                    </div>
                    <div class="l-grid__column-large-6 l-grid__column-medium-6 l-grid__column-small-12 u-padding-left-none">
                        <div class="c-textfield js-floating u-background-inherit u-margin-top-0 l-grid__column-12 u-margin-auto c-textfield--center u-padding-left-none u-padding-right-none">
  <input id="textinput1" class="c-textinput__field c-textinput__field--floating js-floating__input">
  <label for="textinput1" class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Phone
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

                    </div>
                </div>
            </div>
            <div class="l-grid__column-12 u-padding-top-sm">
                <div class="l-grid__row">
                    <div class="l-grid__column-large-6 l-grid__column-medium-6 l-grid__column-small-12 u-padding-right-none u-position-relative">
                        <h4 class="c-heading u-hidden-small-down u-position-absolute u-bottom-0">

   My question is about
   

</h4>

                        <h4 class="c-heading u-hidden-medium-up u-bottom-0 u-text-center">

   My question is about
   

</h4>

                    </div>
                    <div class="l-grid__column-large-6 l-grid__column-medium-6 l-grid__column-small-12 u-padding-left-none">
                        <div class="c-select js-select ">
  <select class="c-select__natural" name="select-1" aria-hidden="false">
    <option value="Claims" disabled="" selected="">
    Claims</option>
    <option value="Claims">
    Claims</option>
    <option value="Sales">
    Sales</option>
    <option value="Customer service">
    Customer service</option>
  </select>
<div class="c-select__container" aria-hidden="true"><span class="c-select__placeholder" tabindex="0">Claims</span><span class="c-select__icon c-icon c-icon--chevron-down"></span><ul class="c-select__option-list" style="visibility: hidden;"><li class="c-select__option is-active" tabindex="-1" data-value="Claims" data-id="0" data-disabled="true" style="display: none;">Claims</li><li class="c-select__option" tabindex="0" data-value="Claims" data-id="1" data-disabled="false">Claims</li><li class="c-select__option" tabindex="0" data-value="Sales" data-id="2" data-disabled="false">Sales</li><li class="c-select__option" tabindex="0" data-value="Customer service" data-id="3" data-disabled="false">Customer service</li></ul></div></div>

                    </div>
                </div>
            </div>
            </div>
              <div class="l-grid__row ">
                  <div class="l-grid__column-6 u-padding-top-lg">
                    <div class="u-padding-sm u-padding-left-md">
                      <div class="c-radio ">
  <input id="option1" class="c-radio__input" name="option_callme" type="radio" tabindex="0">
  <label for="option1" class="c-radio__label">
    <span class="c-radio__label--text">Call me now</span>
  </label>
</div>

                    </div>
                  </div>
                  <div class="l-grid__column-6 u-padding-top-lg">
                    <div class="u-padding-sm u-padding-left-md">
                      <div class="c-radio ">
  <input id="option2" class="c-radio__input" name="option_callme" type="radio" checked="" tabindex="0">
  <label for="option2" class="c-radio__label">
    <span class="c-radio__label--text">Call me later</span>
  </label>
</div>

                    </div>
                  </div>
              </div>
            <div class="l-grid__row flex-column">
            <div class="l-grid__row u-padding-sm u-padding-left-md">
            <div class="l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
                <div class="l-grid__row">
                    <div class="l-grid__column-4">
                        <div class="c-select js-select ">
  <select class="c-select__natural" name="select-1" aria-hidden="false">
    <option value="01" disabled="" selected="">
    01</option>
    <option value="01">
    01</option>
    <option value="02">
    02</option>
    <option value="03">
    03</option>
  </select>
<div class="c-select__container" aria-hidden="true"><span class="c-select__placeholder" tabindex="0">01</span><span class="c-select__icon c-icon c-icon--chevron-down"></span><ul class="c-select__option-list" style="visibility: hidden;"><li class="c-select__option is-active" tabindex="-1" data-value="01" data-id="0" data-disabled="true" style="display: none;">01</li><li class="c-select__option" tabindex="0" data-value="01" data-id="1" data-disabled="false">01</li><li class="c-select__option" tabindex="0" data-value="02" data-id="2" data-disabled="false">02</li><li class="c-select__option" tabindex="0" data-value="03" data-id="3" data-disabled="false">03</li></ul></div></div>

                    </div>
                    <div class="l-grid__column-4">
                        <div class="c-select js-select ">
  <select class="c-select__natural" name="select-1" aria-hidden="false">
    <option value="01" disabled="" selected="">
    01</option>
    <option value="01">
    01</option>
    <option value="02">
    02</option>
    <option value="03">
    03</option>
  </select>
<div class="c-select__container" aria-hidden="true"><span class="c-select__placeholder" tabindex="0">01</span><span class="c-select__icon c-icon c-icon--chevron-down"></span><ul class="c-select__option-list" style="visibility: hidden;"><li class="c-select__option is-active" tabindex="-1" data-value="01" data-id="0" data-disabled="true" style="display: none;">01</li><li class="c-select__option" tabindex="0" data-value="01" data-id="1" data-disabled="false">01</li><li class="c-select__option" tabindex="0" data-value="02" data-id="2" data-disabled="false">02</li><li class="c-select__option" tabindex="0" data-value="03" data-id="3" data-disabled="false">03</li></ul></div></div>

                    </div>
                    <div class="l-grid__column-2 l-grid__column-small-2 l-grid__column-medium-1">
                    <i class="c-icon c-icon--calendar icon-sm u-position-absolute u-left-0"></i>
                    </div>
                </div>
            </div>
            <div class="l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
                <div class="l-grid__row">
                    <div class="l-grid__column-5">
                        <div class="c-select js-select ">
  <select class="c-select__natural" name="select-1" aria-hidden="false">
    <option value="10:30" disabled="" selected="">
    10:30</option>
    <option value="11:00">
    11:00</option>
    <option value="12:00">
    12:00</option>
    <option value="13:00">
    13:00</option>
  </select>
<div class="c-select__container" aria-hidden="true"><span class="c-select__placeholder" tabindex="0">10:30</span><span class="c-select__icon c-icon c-icon--chevron-down"></span><ul class="c-select__option-list" style="visibility: hidden;"><li class="c-select__option is-active" tabindex="-1" data-value="10:30" data-id="0" data-disabled="true" style="display: none;">10:30</li><li class="c-select__option" tabindex="0" data-value="11:00" data-id="1" data-disabled="false">11:00</li><li class="c-select__option" tabindex="0" data-value="12:00" data-id="2" data-disabled="false">12:00</li><li class="c-select__option" tabindex="0" data-value="13:00" data-id="3" data-disabled="false">13:00</li></ul></div></div>

                    </div>
                    <div class="l-grid__column-4">
                        <div class="c-select js-select ">
  <select class="c-select__natural" name="select-1" aria-hidden="false">
    <option value="AM" disabled="" selected="">
    AM</option>
    <option value="AM">
    AM</option>
    <option value="PM">
    PM</option>
  </select>
<div class="c-select__container" aria-hidden="true"><span class="c-select__placeholder" tabindex="0">AM</span><span class="c-select__icon c-icon c-icon--chevron-down"></span><ul class="c-select__option-list" style="visibility: hidden;"><li class="c-select__option is-active" tabindex="-1" data-value="AM" data-id="0" data-disabled="true" style="display: none;">AM</li><li class="c-select__option" tabindex="0" data-value="AM" data-id="1" data-disabled="false">AM</li><li class="c-select__option" tabindex="0" data-value="PM" data-id="2" data-disabled="false">PM</li></ul></div></div>

                    </div>
                    <div class="l-grid__column-2 l-grid__column-small-2 l-grid__column-medium-1">
                    <i class="c-icon c-icon--clock-o icon-sm u-position-absolute u-left-0"></i>
                    </div>
                </div>
            </div>
            </div>
            <div class="u-text-center">
            <sly data-sly-test.myPath="${properties.buttonurl}.html" />

    <button class="c-button c-button u-margin-top-md" type="" onclick="location.href='${myPath @ context='scriptString'}'" >
  ${properties.buttontext}
</button>

            </div>
            </div>
        </div>
        </div>
    </div>
</div>