<div data-sly-test="${wcmmode.edit}" data-sly-unwrap> This is select option static component </div> 


<div class="l-gird__row u-margin-top-lg u-padding-top-lg">
     
	  <div data-sly-resource="${'parsysTexttooltip' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>


      <div class="l-grid__column-large-4 l-grid__column-medium-5 l-grid__column-small-6 u-margin-auto">
        <div class="c-select js-select ">
  <select class="c-select__natural" name="select-1" aria-hidden="false">
    
	</select>
<div class="c-select__container" aria-hidden="true">
   <span class="c-select__placeholder" tabindex="0">Dropdown values will come from api response </span>
   <span class="c-select__icon c-icon c-icon--chevron-down"></span>
    <ul class="c-select__option-list" style="visibility: hidden;">
	
	 </ul>
	 </div>
	 </div>

      </div>
    </div>