<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Please configure Car body component </div> 




<div class="c-poland-radio-circle-group u-padding-top-lg u-padding-bottom-lg t-bg-soft-beige-lightest">
  <div class="l-grid l-grid--max-width">
      <div class="l-grid__row">
        <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-12">
            <h3 class="c-heading u-text-center">

    ${properties.headertabletext1}
   

</h3>

        </div>
      </div>

    <div class="c-radio-circle l-grid__row">
            <div class="l-grid__column-large-4 l-grid__column-medium-4 l-grid__column-12 c-poland-radio-circle-group__item">
                <input id="radio-icon-group-2-items-1" class="c-radio-circle__input" name="radio-icon-group-2" type="radio">
                <label for="radio-icon-group-2-items-1" class="c-radio-circle__label
                  c-radio-circle__label--icon c-icon c-icon--poland c-icon--poland--sedan">
                  <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
                  <span class="c-radio-circle__label-text">Sedan</span>
                </label>
            </div>

            <div class="l-grid__column-large-4 l-grid__column-medium-4 l-grid__column-12 c-poland-radio-circle-group__item">
                <input id="radio-icon-group-2-items-2" class="c-radio-circle__input" name="radio-icon-group-2" type="radio">
                <label for="radio-icon-group-2-items-2" class="c-radio-circle__label
                  c-radio-circle__label--icon c-icon c-icon--poland c-icon--poland--kombi">
                  <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
                  <span class="c-radio-circle__label-text">Kombi</span>
                </label>
            </div>

            <div class="l-grid__column-large-4 l-grid__column-medium-4 l-grid__column-12 c-poland-radio-circle-group__item">
                <input id="radio-icon-group-2-items-3" class="c-radio-circle__input" name="radio-icon-group-2" type="radio">
                <label for="radio-icon-group-2-items-3" class="c-radio-circle__label
                  c-radio-circle__label--icon c-icon c-icon--poland c-icon--poland--hatchback">
                  <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
                  <span class="c-radio-circle__label-text">Hatchback</span>
                </label>
            </div>

            <div class="l-grid__column-large-4 l-grid__column-medium-4 l-grid__column-12 c-poland-radio-circle-group__item">
                <input id="radio-icon-group-2-items-6" class="c-radio-circle__input" name="radio-icon-group-2" type="radio">
                <label for="radio-icon-group-2-items-6" class="c-radio-circle__label
                  c-radio-circle__label--icon c-icon c-icon--poland c-icon--poland--pickup">
                  <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
                  <span class="c-radio-circle__label-text">Delivery car up to 2T</span>
                </label>
            </div>

            <div class="l-grid__column-large-4 l-grid__column-medium-4 l-grid__column-12 c-poland-radio-circle-group__item">
                <input id="radio-icon-group-2-items-5" class="c-radio-circle__input" name="radio-icon-group-2" type="radio">
                <label for="radio-icon-group-2-items-5" class="c-radio-circle__label
                  c-radio-circle__label--icon c-icon c-icon--poland c-icon--poland c-icon--poland--other">
                  <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
                  <span class="c-radio-circle__label-text">Other body type</span>
                </label>
            </div>

    </div>
  </div>
</div>