
    <header class="c-header">
    <div class="c-header-metabar">
      <div class="c-header-metabar__content c-header__wrapper">
        <div class='c-header-metabar__language'>
        </div>
        <div class="c-header-metabar__agent">
          <div class="c-search-agent c-tooltip js-toggle-tooltip c-tooltip__item--editable">
    <button role="link" class="c-button c-button--small js-toggle-tooltip__link c-tooltip__link" aria-expanded="false" aria-describedby="tooltipID1">
        Find agent
        <span class="fa fa-angle-down c-button__icon"></span>
    </button>
    <div class="c-tied-agent-flyout c-tooltip__item c-tooltip__item--no-padding c-tooltip__item--editable" role="tooltip" aria-hidden="true">
  <div class="u-aria-only" id="tooltipID1">Find your agent</div>
  <div class="c-tied-agent-flyout__search">
    <form class="c-form-agent-search">
    <div class="c-form__group l-grid__row">
        <fieldset class="l-grid__column-12">
            <div class="l-grid__row c-form-agent-search__inputs">
                <legend class="c-form-agent-search__legend c-form__legend l-grid__column-12">
                    <h1
  class="c-heading c-heading--subsection-large c-form-agent-search__heading"
  
  
  >

   Find an agent near you
   

</h1>

                </legend>
                <figure class="c-image c-form-agent-search__image ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="&#x2F;&#x2F;placehold.it&#x2F;150"
    
    />
</figure>

                <div class="l-grid__column-medium-12">
                    <div class="c-textfield js-floating c-form-agent-search__textfield">
  <input
    id="textinput1"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textinput1"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Search by name
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

                    <div class="c-textfield js-floating c-form-agent-search__textfield">
  <input
    id="textinput2"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textinput2"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Search by zip code or city
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

                </div>
            </div>
            <div class="l-grid__row">
                <div class="l-grid__column-medium-12">
                    <button
  class="c-button c-button--block c-form-agent-search__button"
  type="submit"
  >
  Search now
</button>

                </div>
            </div>
        </fieldset>
    </div>
</form>

  </div>
</div>

</div>

        </div>
        <div class="c-header-metabar__user">
          <div class="c-tooltip js-toggle-tooltip ">
  <a href="#" class="c-link c-user-login-info__link js-toggle-tooltip__link" aria-expanded="false" aria-describedby="tooltipID3">
    Welcome, Isabel Laux
    <span class="fa fa-angle-down c-button__icon"></span>
  </a>
  <div role="tooltip" class="c-user-login-info c-tooltip__item l-grid__column-small-12 l-grid__column-medium-6 l-grid__column-large-4" aria-hidden="true">

    <div id="tooltipID3" class="u-aria-only">Your user data</div>

    <h3
  class="c-heading c-user-login-info__header u-text-center"
  
  
  >

   Your data, Isabel
   

</h3>


    <div class="c-user-login-info__section">
      <div class="c-user-login-info__label" role="heading" aria-describedby="textID1">
        Email Address
      </div>
      <div class="c-user-login-info__data">
        <p class="c-copy c-copy--large" id="textID1">
  
    isabel.laux@allianz.com
    
  
</p>

      </div>
    </div>

    <div class="c-user-login-info__section">
      <div class="c-user-login-info__label" role="heading" aria-describedby="textID2">
        Customer Number
      </div>
      <div class="c-user-login-info__data">
        <p class="c-copy c-copy--large" id="textID2">
  
    00127088
    
  
</p>

      </div>
    </div>

    <button
  class="c-button c-user-login-info__button"
  type=""
  >
  Edit your profile
</button>

    <button
  class="c-button c-button--secondary c-user-login-info__button"
  type=""
  >
  Logout
</button>


  </div>
</div>

        </div>
      </div>
    </div>
    <div class="c-three-level-navigation js-search js-three-level-nav">
  <div class="c-navigation">
    <div class="c-navigation--extended js-nav-extended">
      <div class="c-navigation__bar c-header__wrapper">
        <div class="c-main-navbar">
          <ul role="menu" class="c-main-navbar__list">
            <li aria-hidden="true" class="c-main-navbar__item--forced-right">
                <div class="c-search t-bg-white">
                  <div class="l-grid__row">
                    <div class="l-grid__column-12">
                      <a
  class="c-link c-link--block c-searchbar__opener js-search-opener"

  href='#'

  >

    <span aria-hidden="true" class="c-link__icon fa fa-search c-searchbar__search-icon"></span>

  <span class="c-link__text">Search</span>
  
</a>

                    </div>
                  </div>
                </div>
            </li>
            <div class="c-flyout c-flyout--search-bar">
              <div class="c-flyout__layout">
                <div class="c-flyout__content">
                  <div class="l-grid__row">
                    <div class="l-grid__column-12">
                      <div class="c-searchbar js-searchbar c-searchbar--hidden">
  <div class="c-searchbar__form">
      <div class="c-searchbar__icon"><i aria-hidden="true" class="fa fa-search c-searchbar__search-icon"></i>
      </div>
      <div class="c-searchbar__input-holder">
          <input type="text" placeholder="To search start typing.." class="c-searchbar__input js-searchbar__input">
      </div>
      <div class="c-searchbar__actions">
          <button
  class="c-button c-button c-searchbar__button js-searchbar__search-button"
  type=""
  >
  Search
</button>

          <button
  class="c-button c-button c-button--secondary c-searchbar__button js-searchbar__cancel-button"
  type=""
  >
  Cancel
</button>

          <a
  class="c-link c-link--block c-searchbar__link--mobile js-searchbar__clear-button--mobile"

  href='#'

  >

    <span aria-hidden="true" class="c-link__icon fa fa-times"></span>

  <span class="c-link__text"> </span>
  
</a>

          <button
  class="c-button c-button--small c-searchbar__button--mobile js-searchbar__go-button--mobile"
  type=""
  >
  GO
</button>

      </div>
  </div>
</div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-navigation--compact">
      <div class="c-mobilebar">
        <div class="c-mobilebar__action">
          <div class="c-search t-bg-white">
            <div class="l-grid__row">
              <div class="l-grid__column-12">
                <a
  class="c-link c-link--block c-searchbar__opener js-search-opener"

  href='#'

  >

    <span aria-hidden="true" class="c-link__icon fa fa-search c-searchbar__search-icon"></span>

  <span class="c-link__text">Search</span>
  
</a>

              </div>
            </div>
          </div>
        </div>
        <div class="c-mobilebar__action">
          <a href="#" class="c-mobilebar__action c-mobilebar__open js-agent-link-mobile">
            <i aria-hidden="true" class="fa fa-user"></i>
          </a>
        </div>
        <div class="c-mobilebar__action">
          <a href="#" class="c-mobilebar__action c-mobilebar__open js-opener-link-mobile">
            <i aria-hidden="true" class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="c-flyout c-flyout--search-bar">
        <div class="c-flyout__layout">
          <div class="c-flyout__content">
            <div class="l-grid__row">
              <div class="l-grid__column-12">
                <div class="c-searchbar js-searchbar c-searchbar--hidden">
  <div class="c-searchbar__form">
      <div class="c-searchbar__icon"><i aria-hidden="true" class="fa fa-search c-searchbar__search-icon"></i>
      </div>
      <div class="c-searchbar__input-holder">
          <input type="text" placeholder="To search start typing.." class="c-searchbar__input js-searchbar__input">
      </div>
      <div class="c-searchbar__actions">
          <button
  class="c-button c-button c-searchbar__button js-searchbar__search-button"
  type=""
  >
  Search
</button>

          <button
  class="c-button c-button c-button--secondary c-searchbar__button js-searchbar__cancel-button"
  type=""
  >
  Cancel
</button>

          <a
  class="c-link c-link--block c-searchbar__link--mobile js-searchbar__clear-button--mobile"

  href='#'

  >

    <span aria-hidden="true" class="c-link__icon fa fa-times"></span>

  <span class="c-link__text"> </span>
  
</a>

          <button
  class="c-button c-button--small c-searchbar__button--mobile js-searchbar__go-button--mobile"
  type=""
  >
  GO
</button>

      </div>
  </div>
</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-flyout c-flyout--search-result">
    <div class="c-flyout__layout">
      <div class="c-flyout__content">
        <!-- Search -->
        <div class="c-search t-bg-white">
          <div class="l-grid__row">
            <div class="l-grid__column-12">
              <div class="c-search__suggestions c-header__wrapper js-search__suggestions c-search__suggestions--hidden">
  <div class="c-search__suggestions-title">
      Suggestions
  </div>
  <div class="c-search__suggestions-content">
      <ul class="c-search__suggestions-list">
      </ul>
  </div>
</div>

            </div>
          </div>
        </div>
        <!-- END Search -->
      </div>
    </div>
  </div>
  <div class="c-flyout">
    <div class="c-flyout__layout">
      <div class="c-flyout__content">
        <div class="l-grid__row">
          <div class="l-grid__column-12">
            <div class="c-navigation__agent js-agent-mobile" style="display: none;">
              <form class="c-form-agent-search">
    <div class="c-form__group l-grid__row">
        <fieldset class="l-grid__column-12">
            <div class="l-grid__row c-form-agent-search__inputs">
                <legend class="c-form-agent-search__legend c-form__legend l-grid__column-12">
                    <h1
  class="c-heading c-heading--subsection-large c-form-agent-search__heading"
  
  
  >

   Find an agent near you
   

</h1>

                </legend>
                <figure class="c-image c-form-agent-search__image ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="&#x2F;&#x2F;placehold.it&#x2F;150"
    
    />
</figure>

                <div class="l-grid__column-medium-12">
                    <div class="c-textfield js-floating c-form-agent-search__textfield">
  <input
    id="textinput1"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textinput1"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Search by name
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

                    <div class="c-textfield js-floating c-form-agent-search__textfield">
  <input
    id="textinput2"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textinput2"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Search by zip code or city
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

                </div>
            </div>
            <div class="l-grid__row">
                <div class="l-grid__column-medium-12">
                    <button
  class="c-button c-button--block c-form-agent-search__button"
  type="submit"
  >
  Search now
</button>

                </div>
            </div>
        </fieldset>
    </div>
</form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-flyout c-flyout--sub-navigation">
    <div class="c-flyout__layout">
      <div class="c-flyout__content">
        <!-- Desktop -->
      </div>
    </div>
  </div>
</div>

</header>


  <div class="c-progress-bar-container c-progress-bar-container--poland">
  <div class="l-grid l-grid--max-width c-progress-bar c-progress-bar--poland c-progress-bar--poland--invert"
  role="progressbar"
  aria-label="Step 2 of 4: Upload documents"
  tabindex="0">
  <h6
  class="c-heading c-progress-bar__heading"
  
  
  >

   Step 2&#x2F;4: Upload documents
   

</h6>

  <div class="c-progress-bar--steps">
    <span class="c-progress-bar__item c-progress-bar__item--active c-progress-bar__item--linear">
      <p class="c-copy c-copy--large c-progress-bar__text" >
  
    Vehicle Data
    
  
</p>

    </span>
    <span class="c-progress-bar__item c-progress-bar__item--active c-progress-bar__item--linear">
      <p class="c-copy c-copy--large c-progress-bar__text" >
  
    Personal Data
    
  
</p>

    </span>
    <span class="c-progress-bar__item  ">
      <p class="c-copy c-copy--large c-progress-bar__text" >
  
    Insurance details
    
  
</p>

    </span>
    <span class="c-progress-bar__item  ">
      <p class="c-copy c-copy--large c-progress-bar__text" >
  
    Application
    
  
</p>

    </span>
  </div>
</div>
</div>

  <div class="u-text-center c-sale-funnel t-bg-soft-rose-lightest ">
  <div class="u-padding-md">
      <div>
          <div class="c-icon c-icon--clock-o c-sale-funnel__info-icon"></div>
        <p class="c-copy c-copy--large t-rich-grey" >
  
    in 3 minutes....
    
  
</p>

      </div>      

      <h1
  class="c-heading  l-grid__column-large-10 offset-large-1"
  
  
  >

   Minimum effort - fast quotation
   

</h1>

    
      <h6
  class="c-heading u-margin-top-md t-rich-grey l-grid__column-large-8 offset-large-2"
  
  
  >

   We only need a few data to configure your offer
   

</h6>

  </div>
  
  <div class="c-sale-funnel__image-container u-padding-top-lg"> 
    <figure class="c-image c-image--fixed-height ">
  <img
    class="c-image__img c-sale-funnel__image "
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/car-owner.png"
    
    />
</figure>

    <div class="c-sale-funnel__image__footer--center t-bg-soft-rose-lightest"></div>   
    <div class="c-sale-funnel__image__footer t-bg-vibrant-orange-light"></div> 
  </div>

  <div class="u-padding-bottom-lg t-bg-vibrant-orange-light">
        
        <div class="u-padding-top-lg c-sale-funnel__form">  
            <div class="c-sale-funnel__form__group">

                  <div class="c-radio c-radio--negative c-radio__sale-funnel">
  <input
    id="select-1"
    class="c-radio__input"
    name="select-1"
    type="radio"
    checked
    tabindex="0"
     >
  <label for="select-1" class="c-radio__label">
    <span class="c-radio__label--text">Same as driver</span>
  </label>
</div>

                <hr class="c-divider u-margin-bottom-lg u-margin-top-lg u-hidden-small-up" role="none" />


            </div>
            <div class="c-sale-funnel__form__group">

                  <div class="c-radio c-radio--negative c-radio__sale-funnel">
  <input
    id="select-2"
    class="c-radio__input"
    name="select-1"
    type="radio"
    
    tabindex="0"
     >
  <label for="select-2" class="c-radio__label">
    <span class="c-radio__label--text">The same as owner</span>
  </label>
</div>

                <hr class="c-divider u-margin-bottom-lg u-margin-top-lg u-hidden-small-up" role="none" />


            </div>
            <div class="c-sale-funnel__form__group">

                  <div class="c-radio c-radio--negative c-radio__sale-funnel">
  <input
    id="select-3"
    class="c-radio__input"
    name="select-1"
    type="radio"
    
    tabindex="0"
     >
  <label for="select-3" class="c-radio__label">
    <span class="c-radio__label--text">The same as co-owner</span>
  </label>
</div>

                <hr class="c-divider u-margin-bottom-lg u-margin-top-lg u-hidden-small-up" role="none" />


            </div>
            <div class="c-sale-funnel__form__group">

                  <div class="c-radio c-radio--negative c-radio__sale-funnel">
  <input
    id="select-4"
    class="c-radio__input"
    name="select-1"
    type="radio"
    
    tabindex="0"
     >
  <label for="select-4" class="c-radio__label">
    <span class="c-radio__label--text">Other</span>
  </label>
</div>

                <hr class="c-divider u-margin-bottom-lg u-margin-top-lg u-hidden-small-up" role="none" />


            </div>
        </div>
  </div>  
</div>

<div class="l-grid">
  <div class="l-grid__row">
    <div class="l-grid__column l-grid__column-8 offset-2">
      <h1
  class="c-heading c-heading--subsection-medium u-margin-top-lg u-margin-bottom-0 u-text-center"
  
  
  >

   Company data
   

</h1>

    </div>
    <div class="l-grid__column l-grid__column-8 offset-2">
      <div class="l-grid__row">
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
          <div class="c-textfield js-floating ">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Name of the company
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
          <div class="c-textfield js-floating ">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    REGON
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
      </div>
      <div class="l-grid__row u-margin-bottom-lg">
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
          <div class="c-textfield js-floating ">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    NIP
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
      </div>
    </div>
  </div>

  <div class="l-grid__row">
    <div class="l-grid__column l-grid__column-8 offset-2">
      <h1
  class="c-heading c-heading--subsection-medium u-margin-top-lg u-margin-bottom-0 u-text-center"
  
  
  >

   Contact data
   

</h1>

    </div>
    <div class="l-grid__column l-grid__column-8 offset-2">
      <div class="l-grid__row">
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
          <div class="c-textfield js-floating ">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Care of
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
          <div class="c-textfield js-floating ">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Phone
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
          <div class="c-textfield js-floating ">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Email address
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
          <div class="c-textfield js-floating ">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Zip-code
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
          <div class="c-textfield js-floating ">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Street
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
          <div class="c-textfield js-floating ">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    House number
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
          <div class="c-textfield js-floating ">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Town
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-medium-12 l-grid__column-small-12">
          <div class="c-textfield js-floating ">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Number of flat&#x2F;appartment
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
      </div>
    </div>
  </div>

  <div class="l-grid__row">
    <div class="l-grid__column l-grid__column-8 offset-2">
      <h1
  class="c-heading c-heading--subsection-medium u-margin-top-lg u-margin-bottom-0 u-text-center"
  
  
  >

   Does the mailing address is the same as above?
   

</h1>

    </div>
  </div>
  <div class="l-grid__row justify-content-center justify-content-small-around justify-content-large-center">
    <div class="c-radio u-text-center">
  <input
    id="mailing-address-radio-y"
    class="c-radio__input"
    name="mailing-address-1"
    type="radio"
    checked
    tabindex="0"
     >
  <label for="mailing-address-radio-y" class="c-radio__label">
    <span class="c-radio__label--text">Yes</span>
  </label>
</div>

    <div class="c-radio u-text-center">
  <input
    id="mailing-address-radio-n"
    class="c-radio__input"
    name="mailing-address-1"
    type="radio"
    
    tabindex="0"
     >
  <label for="mailing-address-radio-n" class="c-radio__label">
    <span class="c-radio__label--text">No</span>
  </label>
</div>

  </div>
</div>
<div class="l-container l-container--full-width t-bg-soft-grey-lightest u-padding-bottom-lg">
  <div class="l-grid">
    <div class="u-margin-top-lg u-padding-bottom-lg">
      <div class="l-grid__row justify-content-center">
        <div class="l-grid__column-10">
          <h1
  class="c-heading c-heading--subsection-large u-margin-top-lg u-margin-bottom-0 u-text-center"
  
  
  >

   Extra Car Detail - Revise text to be more friendly
   

</h1>

          <h1
  class="c-heading c-heading--subsection-medium u-margin-top-0 u-text-center"
  
  
  >

   Short description goes here
   

</h1>

        </div>
      </div>
      <div class="l-grid__row justify-content-center">
        <div class="l-grid__column-xsmall-10 l-grid__column-small-6 l-grid__column-medium-4">
          <h1
  class="c-heading c-heading--subsection-xsmall u-margin-bottom-0 u-text-center"
  
  
  >

   License plate number
   

</h1>

          <div class="c-textfield js-floating u-margin-top-0 u-background-inherit">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
     
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
      </div>
      <div class="l-grid__row justify-content-center">
        <div class="l-grid__column-xsmall-10 l-grid__column-small-6 l-grid__column-medium-4">
          <h1
  class="c-heading c-heading--subsection-xsmall u-margin-top-lg u-margin-bottom-0 u-text-center"
  
  
  >

   VIN
   

</h1>

          <div class="c-textfield js-floating u-margin-top-0 u-background-inherit">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
     
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
      </div>
    </div>
<div class="c-poland-radio-circle-group ">
  <div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
      <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-12">
        <h2
  class="c-heading c-heading--subsection-medium u-text-center"
  
  
  >

   Is your car damaged?
   

</h2>

      </div>
    </div>

    <div class="c-radio-circle l-grid__row">
      <div class="l-grid__column-large-2 l-grid__column-medium-2 l-grid__column-12 c-poland-radio-circle-group__item">
        <input
          id="radio-icon-car-damaged-1-items-1"
          class="c-radio-circle__input"
          name="radio-icon-car-damaged-1"
          type="radio"
          checked />
        <label for="radio-icon-car-damaged-1-items-1" class="c-radio-circle__label
           ">
          <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
          <span class="c-radio-circle__label-text">Yes</span>
        </label>
      </div>
      <div class="l-grid__column-large-2 l-grid__column-medium-2 l-grid__column-12 c-poland-radio-circle-group__item">
        <input
          id="radio-icon-car-damaged-1-items-2"
          class="c-radio-circle__input"
          name="radio-icon-car-damaged-1"
          type="radio"
           />
        <label for="radio-icon-car-damaged-1-items-2" class="c-radio-circle__label
           ">
          <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
          <span class="c-radio-circle__label-text">No</span>
        </label>
      </div>
    </div>
  </div>
</div>

    <div class="l-grid__row justify-content-center">
      <div class="l-grid__column-xsmall-10 l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-textarea js-floating u-background-inherit">
  <textarea
    id="textarea01"
    class="c-textarea__input c-textinput__field c-textinput__field--floating js-floating__input"
    role="textbox"
    rows = 3
    aria-multiline="true"></textarea>
  <label 
    class="c-textinput__label c-textinput__label--floating "
    for="textarea01">
    <span class="c-textinput__label--optional"></span>
    Tell us more about the damage of your car
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

      </div>
    </div>
<div class="c-poland-radio-circle-group ">
  <div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
      <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-12">
        <h2
  class="c-heading c-heading--subsection-medium u-text-center"
  
  
  >

   How many key sets do you have?
   

</h2>

      </div>
    </div>

    <div class="c-radio-circle l-grid__row">
      <div class="l-grid__column-large-2 l-grid__column-medium-2 l-grid__column-12 c-poland-radio-circle-group__item">
        <input
          id="radio-icon-keys-1-items-1"
          class="c-radio-circle__input"
          name="radio-icon-keys-1"
          type="radio"
           />
        <label for="radio-icon-keys-1-items-1" class="c-radio-circle__label
           ">
          <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
          <span class="c-radio-circle__label-text">1</span>
        </label>
      </div>
      <div class="l-grid__column-large-2 l-grid__column-medium-2 l-grid__column-12 c-poland-radio-circle-group__item">
        <input
          id="radio-icon-keys-1-items-1"
          class="c-radio-circle__input"
          name="radio-icon-keys-1"
          type="radio"
          checked />
        <label for="radio-icon-keys-1-items-1" class="c-radio-circle__label
           ">
          <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
          <span class="c-radio-circle__label-text">2</span>
        </label>
      </div>
      <div class="l-grid__column-large-2 l-grid__column-medium-2 l-grid__column-12 c-poland-radio-circle-group__item">
        <input
          id="radio-icon-keys-1-items-2"
          class="c-radio-circle__input"
          name="radio-icon-keys-1"
          type="radio"
           />
        <label for="radio-icon-keys-1-items-2" class="c-radio-circle__label
           ">
          <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
          <span class="c-radio-circle__label-text">3+</span>
        </label>
      </div>
    </div>
  </div>
</div>

  </div>
</div>

  <h1
  class="c-heading c-heading--subsection-large u-margin-top-lg u-margin-bottom-0 u-text-center"
  
  
  >

   Do you need to setup a cession?
   

</h1>

<div class="c-poland-radio-circle-group u-margin-bottom-lg">
  <div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
      <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-12">
        <h2
  class="c-heading c-heading--subsection-medium u-text-center"
  
  
  >

   Short description about the cession goes here
   

</h2>

      </div>
    </div>

    <div class="c-radio-circle l-grid__row">
      <div class="l-grid__column-large-2 l-grid__column-medium-2 l-grid__column-12 c-poland-radio-circle-group__item">
        <input
          id="radio-icon-cession-1-items-1"
          class="c-radio-circle__input"
          name="radio-icon-cession-1"
          type="radio"
          checked />
        <label for="radio-icon-cession-1-items-1" class="c-radio-circle__label
           ">
          <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
          <span class="c-radio-circle__label-text">Yes</span>
        </label>
      </div>
      <div class="l-grid__column-large-2 l-grid__column-medium-2 l-grid__column-12 c-poland-radio-circle-group__item">
        <input
          id="radio-icon-cession-1-items-2"
          class="c-radio-circle__input"
          name="radio-icon-cession-1"
          type="radio"
           />
        <label for="radio-icon-cession-1-items-2" class="c-radio-circle__label
           ">
          <span class="c-radio-circle__mobile-check icons-oneweb-allianz-Icon_Check" aria-hidden="true"></span>
          <span class="c-radio-circle__label-text">No</span>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="l-grid">
  <div class="l-grid__row">
    <div class="l-grid__column l-grid__column-8 offset-2">
      <div class="l-grid__row">
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-xsmall-12">
          <h1
  class="c-heading c-heading--subsection-xsmall u-margin-top-lg u-margin-bottom-0"
  
  
  >

   Assignee is located
   

</h1>

          <div class="c-textfield js-floating u-margin-top-0">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
     
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-xsmall-12">
          <h1
  class="c-heading c-heading--subsection-xsmall u-margin-top-lg u-margin-bottom-0"
  
  
  >

   Name of assignee
   

</h1>

          <div class="c-textfield js-floating u-margin-top-0">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
     
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-xsmall-12">
          <h1
  class="c-heading c-heading--subsection-xsmall u-margin-top-lg u-margin-bottom-0"
  
  
  >

   Address of assignee
   

</h1>

          <div class="c-textfield js-floating u-margin-top-0">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
     
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column l-grid__column-large-6 l-grid__column-xsmall-12">
          <h1
  class="c-heading c-heading--subsection-xsmall u-margin-top-lg u-margin-bottom-0"
  
  
  >

   Full name of branch
   

</h1>

          <div class="c-textfield js-floating u-margin-top-0">
  <input
    id="textfield01"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textfield01"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
     
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
      </div>
    </div>
  </div>
</div>

  <div class="l-container l-container--full-width t-bg-soft-grey-lightest">
    <div class="l-grid">
      <div class="u-padding-top-lg u-margin-top-lg">
        <div class="l-grid__row">
          <div class="l-grid__column l-grid__column-small-10 offset-small-1 l-grid__column-xsmall-12">
      <div class="c-checkbox u-margin-bottom-lg u-text-weight-bold">
  <input
    type="checkbox"
    name="terms-and-conditions-checkbox-1"
    id="terms-and-conditions-checkbox-1"
    aria-labelledby="terms-and-conditions-checkbox-1-label"
    tabindex="0"
    
     checked 
    class="c-checkbox__input"
  />
  <label for="terms-and-conditions-checkbox-1" class="c-checkbox__label c-icon c-icon--check">
    <span id="terms-and-conditions-checkbox-1-label">
      Accept markeing consents
    </span>
  </label>
</div>

      <div class="c-checkbox u-margin-bottom-lg u-margin-left-lg">
  <input
    type="checkbox"
    name="terms-and-conditions-checkbox-2"
    id="terms-and-conditions-checkbox-2"
    aria-labelledby="terms-and-conditions-checkbox-2-label"
    tabindex="0"
    
     checked 
    class="c-checkbox__input"
  />
  <label for="terms-and-conditions-checkbox-2" class="c-checkbox__label c-icon c-icon--check">
    <span id="terms-and-conditions-checkbox-2-label">
      Zapoznałam&#x2F;-em się i akceptuję Regulamin serwisuOświadczam, iż zapoznałem&#x2F;am się z Regulaminem świadczenia usług z wykorzystaniem serwisu internetowego www.turystyka.allianzdirect.pl, Pokażcałą treść
    </span>
  </label>
</div>

      <div class="c-checkbox u-margin-bottom-lg u-margin-left-lg">
  <input
    type="checkbox"
    name="terms-and-conditions-checkbox-3"
    id="terms-and-conditions-checkbox-3"
    aria-labelledby="terms-and-conditions-checkbox-3-label"
    tabindex="0"
    
     checked 
    class="c-checkbox__input"
  />
  <label for="terms-and-conditions-checkbox-3" class="c-checkbox__label c-icon c-icon--check">
    <span id="terms-and-conditions-checkbox-3-label">
      Potwierdzam, że wszelkie dane zawarte w umowie ubezpieczenia są zgodne z moją najlepszą wiedzą. Pokaż całą treść
    </span>
  </label>
</div>

      <div class="c-checkbox u-margin-bottom-lg u-margin-left-lg">
  <input
    type="checkbox"
    name="terms-and-conditions-checkbox-4"
    id="terms-and-conditions-checkbox-4"
    aria-labelledby="terms-and-conditions-checkbox-4-label"
    tabindex="0"
    
     checked 
    class="c-checkbox__input"
  />
  <label for="terms-and-conditions-checkbox-4" class="c-checkbox__label c-icon c-icon--check">
    <span id="terms-and-conditions-checkbox-4-label">
      Otwierdzam, że wszelkie dane zawarte w umowie ubezpieczenia są zgodne z moją najlepszą wiedzą. Pokaż całą treść
    </span>
  </label>
</div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-info-card c-info-card__ t-bg-soft-blue-light  ">
  <div class="l-grid l-grid--max-width">
    <div class="l-grid__row ">
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-3 u-hidden-medium-down">
        <figure class="c-image c-info-card__image ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/operator.png"
    
    />
</figure>

      </div>
      <div class="offset-large-1 l-grid__column-large-7">
        <div class="l-grid__row flex-column">
          <div>
            <h3
  class="c-heading c-heading--section u-text-medium-center-down u-text-center"
  
  
  >

   Hotline support: 224 224 224
   

</h3>

          </div>
          <div class="u-hidden-large-up l-grid__column-12 offset-small-4 l-grid__column-small-4 l-grid__column-xsmall-12 flex-medium-first u-margin-bottom-lg u-flex-basis-auto">
            <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/operator.png"
    
    />
</figure>

          </div>
          <div>
            <p class="c-copy u-text-medium-center-down u-text-center u-margin-bottom-0" >
  
    Allianz is your strong partner, assisting you with any obstacle or difficulties that may cross your paths.
    
  
</p>

          </div>
          <div>
            <p class="c-copy u-text-medium-center-down u-text-center u-margin-bottom-0" >
  
    I need more information please call me back.
    
  
</p>

          </div>
          <div>
            <div class="c-textfield js-floating u-background-inherit u-margin-top-0 l-grid__column-large-5 u-margin-auto">
  <input
    id="textinput1"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textinput1"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Phone
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

          </div>
          <div class="u-margin-auto">
            <button
  class="c-button c-button u-margin-top-md"
  type=""
  >
  Give me a call
</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="c-footer c-footer--poland ">
  <div class="c-footer__navigation">
  <div class="l-grid l-grid--max-width u-background-inherit">
    <div class="l-grid__row">
    </div>
    <div class="l-grid__row c-footer__navigation__illustrator-container">
      <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="../assets/images/Illustration/footer-illustration.png">
</figure>

    </div>
  </div>
</div>

  <div class="l-grid l-grid--max-width c-footer__tagline">
  <div class="l-grid__row">
    <div class="l-grid__column-8 offset-2">
      <h3 class="c-heading c-footer__tagline-headline c-heading--subsection-medium">

   Allianz Online. You pay what you need.
   

</h3>

    </div>
  </div>
</div>

  <div class="c-footer__social c-footer__social--desktop">
    <a class="c-footer__social-link" href="#" title="Find us on Google+">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on Facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Subscribe to our twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
</div>


<hr class="c-divider c-divider--compact c-footer__divider">
<div class="c-footer__service">
  <div class="l-grid__row c-footer__logo">
  <div class="l-grid__column-4 offset-4">
    <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="../assets/images/allianz-online.png">
</figure>

  </div>
</div>

  <nav class="c-footer__legal" role="navigation" aria-label="Service Links">
    <a class="c-footer__legal-link" href="#">
      Map of page
    </a>
    <a class="c-footer__legal-link" href="#">
      Best practises
    </a>
    <a class="c-footer__legal-link" href="#">
      Legal reservations, cookies
    </a>
    <a class="c-footer__legal-link" href="#">
      Security in net
    </a>
</nav>

  <div class="c-footer__copyright">
  <small class="c-copyright" role="contentinfo">© Allianz 2017</small>
</div>

  <div class="c-footer__social ">
    <a class="c-footer__social-link" href="#" title="Find us on Google+">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on Facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Subscribe to our twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
</div>

  <div class="c-phone-link c-footer__phone">
  <span class="c-phone-link__title c-phone-link__title--desktop">
    <i class="fa fa-phone c-phone-link__icon" aria-hidden="true"></i>
    Hotline Support
  </span>

  <span class="c-phone-link__title c-phone-link__title--tablet">
    Support
  </span>

  <a class="c-phone-link__number" href="tel:+0015551111">
    040. 123 456 789
  </a>
</div>

</div>

</footer>

  

