<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Please configure Car Model component </div> 




<div class="c-poland-radio-button-group ">
  <h3 class="c-heading u-text-center u-margin-top-lg u-margin-bottom-lg">

  ${properties.headertabletext1}
   

</h3>

  <div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-1" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-1" class="c-radio__label">
    <span class="c-radio__label--text">Citigo</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-2" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-2" class="c-radio__label">
    <span class="c-radio__label--text">Fabia III</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-3" class="c-radio__input" name="car-model-group" type="radio" checked="" tabindex="0">
  <label for="car-model-item-3" class="c-radio__label">
    <span class="c-radio__label--text">Octavia III</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-4" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-4" class="c-radio__label">
    <span class="c-radio__label--text">Octavia III G-TEC CNG</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-5" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-5" class="c-radio__label">
    <span class="c-radio__label--text">Rapid</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-6" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-6" class="c-radio__label">
    <span class="c-radio__label--text">Rapic Spaceback</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-7" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-7" class="c-radio__label">
    <span class="c-radio__label--text">Roomster</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-8" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-8" class="c-radio__label">
    <span class="c-radio__label--text">Superb II</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-9" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-9" class="c-radio__label">
    <span class="c-radio__label--text">Superb III</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-10" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-10" class="c-radio__label">
    <span class="c-radio__label--text">Superb Outdoor</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-11" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-11" class="c-radio__label">
    <span class="c-radio__label--text">Yeti</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-12" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-12" class="c-radio__label">
    <span class="c-radio__label--text">Yeti Outdoor</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-13" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-13" class="c-radio__label">
    <span class="c-radio__label--text">Yeti Outdoor SCR</span>
  </label>
</div>

        </div>
        <div class="l-grid__column-12 l-grid__column-large-4 l-grid__column-medium-6 u-margin-bottom-lg">
          <div class="c-radio ">
  <input id="car-model-item-14" class="c-radio__input" name="car-model-group" type="radio" tabindex="0">
  <label for="car-model-item-14" class="c-radio__label">
    <span class="c-radio__label--text">Yeti SCR</span>
  </label>
</div>

        </div>
    </div>
  </div>
</div>