<div data-sly-test="${wcmmode.edit}" data-sly-unwrap> This is zipcode input static component </div> 


<div class="l-gird__row u-text-center u-margin-top-lg u-padding-top-lg">
   <div data-sly-resource="${'parsysTexttooltip' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>
    <div class="l-grid__column-medium-4 u-margin-auto">
      <div class="c-textfield js-floating c-textfield--center u-margin-top-0">
  <input id="" class="c-textinput__field c-textinput__field--floating js-floating__input">
  <label for="" class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Enter your zipcode
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

    </div>
  </div>