<footer class="c-footer c-footer--poland ">
  <div class="c-footer__navigation">
  <div class="l-grid l-grid--max-width u-background-inherit">
    <div class="l-grid__row">
    </div>
    <div class="l-grid__row c-footer__navigation__illustrator-container">
      <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src=" ${properties.footerbgimage}">
</figure>

    </div>
  </div>
</div>

  <div class="l-grid l-grid--max-width c-footer__tagline">
  <div class="l-grid__row">
    <div class="l-grid__column-8 offset-2">
      <h3 class="c-heading c-footer__tagline-headline c-heading--subsection-medium">

   ${properties.footerheadtext}
   

</h3>

    </div>
  </div>
</div>

  <div class="c-footer__social u-hidden-small-down">
    <a class="c-footer__social-link" href="#" title="Find us on Google+">
      <i class="c-icon c-icon--2x c-icon--google-plus" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on Facebook">
      <i class="c-icon c-icon--2x c-icon--facebook" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Subscribe to our twitter">
      <i class="c-icon c-icon--2x c-icon--twitter" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on instagram">
      <i class="c-icon c-icon--2x c-icon--instagram" aria-hidden="true"></i>
    </a>
</div>


<hr class="c-divider c-divider--compact c-footer__divider">
<div class="c-footer__service">
  <div class="l-grid__row c-footer__logo">
  <div class="l-grid__column-4 offset-4">
    <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="../../images/allianz-online.png">
</figure>

  </div>
</div>

  <nav class="c-footer__legal" role="navigation" aria-label="Service Links">
    <a class="c-footer__legal-link" href="#">
      Map of page
    </a>
    <a class="c-footer__legal-link" href="#">
      Best practises
    </a>
    <a class="c-footer__legal-link" href="#">
      Legal reservations, cookies
    </a>
    <a class="c-footer__legal-link" href="#">
      Security in net
    </a>
</nav>

  <div class="c-footer__copyright">
  <small class="c-copyright" role="contentinfo">© Allianz 2017</small>
</div>

  <div class="c-footer__social u-hidden-medium-up">
    <a class="c-footer__social-link" href="#" title="Find us on Google+">
      <i class="c-icon c-icon--2x c-icon--google-plus" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on Facebook">
      <i class="c-icon c-icon--2x c-icon--facebook" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Subscribe to our twitter">
      <i class="c-icon c-icon--2x c-icon--twitter" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on instagram">
      <i class="c-icon c-icon--2x c-icon--instagram" aria-hidden="true"></i>
    </a>
</div>

  <div class="c-poland-chat-link ">
  <span class="c-poland-chat-link__title">
    Chat now
  </span>
  <i class="c-icon c-icon--poland c-icon--poland--chat" aria-hidden="true"></i>
</div>

</div>

</footer>