<div class="c-progress-bar-container c-progress-bar-container--poland">
  <div class="l-grid l-grid--max-width c-progress-bar c-progress-bar--poland c-progress-bar--poland--invert" role="progressbar" aria-label="Step 2 of 4: Upload documents" tabindex="0">
  <h6 class="c-heading c-progress-bar__heading">

   Step 2/4: Upload documents
   

</h6>

  <div class="c-progress-bar--steps">
    <span class="c-progress-bar__item c-progress-bar__item--active c-progress-bar__item--linear">
      <p class="c-copy c-copy--large c-progress-bar__text">
  
    Vehicle Data
    
  
</p>

    </span>
    <span class="c-progress-bar__item c-progress-bar__item--active c-progress-bar__item--linear">
      <p class="c-copy c-copy--large c-progress-bar__text">
  
    Personal Data
    
  
</p>

    </span>
    <span class="c-progress-bar__item  ">
      <p class="c-copy c-copy--large c-progress-bar__text">
  
    Insurance details
    
  
</p>

    </span>
    <span class="c-progress-bar__item  ">
      <p class="c-copy c-copy--large c-progress-bar__text">
  
    Application
    
  
</p>

    </span>
  </div>
</div>
</div>