<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Please configure Social media  component  </div>


<div class="c-footer__social u-hidden-small-down">

    <a class="c-footer__social-link" href="#" title="Find us on Google+">
      <i class="c-icon c-icon--2x c-icon--google-plus" aria-hidden="true"></i>
    </a>

    <a class="c-footer__social-link" href="#" title="Follow us on Facebook">
      <i class="c-icon c-icon--2x c-icon--facebook" aria-hidden="true"></i>
    </a>

    <a class="c-footer__social-link" href="#" title="Subscribe to our twitter">
      <i class="c-icon c-icon--2x c-icon--twitter" aria-hidden="true"></i>
    </a>

    <a class="c-footer__social-link" href="#" title="Follow us on instagram">
      <i class="c-icon c-icon--2x c-icon--instagram" aria-hidden="true"></i>
    </a>

</div>