<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Please configure Carousel static component </div> 

  
 <div class="l-container l-container--full-width t-bg-soft-grey u-margin-bottom-0">
  <div class="l-container">
    <div class="c-carousel__three-column-container ">
      <div class="c-carousel__three-column__header--center">
        <h2 class="c-heading c-heading--section u-margin-bottom-0">

   Social Recommendation
   

</h2>

      </div>
      <div class="js-carousel-three-column swiper-container c-carousel__three-column swiper-container-horizontal">
        <div class="swiper-wrapper c-carousel__three-column-wrapper" style="transform: translate3d(-920px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide c-carousel__three-column__slide u-display-block u-padding-left-sm u-padding-right-sm u-padding-top-md u-padding-bottom-md swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 276.667px; margin-right: 30px;">
            <div class="c-teaser u-text-center">
                <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-sm">

    <a href="true" class="c-heading__link">
   Nolwen Jameson
   
    </a>

</h4>

                <p class="c-copy c-copy--medium u-margin-bottom-sm">
  
    Travel Agency
    
  
</p>

                <div class="l-grid__column-5 u-margin-auto">
                    <figure class="c-image c-image--rounded ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/testimages/aatik-tasneem.jpg">
</figure>

                </div>
                    <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star.png">
</figure>
</div>
                    </div>
                <p class="c-copy u-margin-bottom-md u-padding-sm">
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

            </div>
          </div><div class="swiper-slide c-carousel__three-column__slide u-display-block u-padding-left-sm u-padding-right-sm u-padding-top-md u-padding-bottom-md swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 276.667px; margin-right: 30px;">
            <div class="c-teaser u-text-center">
                <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-sm">

    <a href="true" class="c-heading__link">
   Tom Jerkins
   
    </a>

</h4>

                <p class="c-copy c-copy--medium u-margin-bottom-sm">
  
    Photographer
    
  
</p>

                <div class="l-grid__column-5 u-margin-auto">
                    <figure class="c-image c-image--rounded ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/testimages/aatik-tasneem.jpg">
</figure>

                </div>
                    <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star.png">
</figure>
</div>
                    </div>
                <p class="c-copy u-margin-bottom-md u-padding-sm">
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

            </div>
          </div><div class="swiper-slide c-carousel__three-column__slide u-display-block u-padding-left-sm u-padding-right-sm u-padding-top-md u-padding-bottom-md swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="width: 276.667px; margin-right: 30px;">
            <div class="c-teaser u-text-center">
                <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-sm">

    <a href="true" class="c-heading__link">
   Tom Jerkins
   
    </a>

</h4>

                <p class="c-copy c-copy--medium u-margin-bottom-sm">
  
    Photographer
    
  
</p>

                <div class="l-grid__column-5 u-margin-auto">
                    <figure class="c-image c-image--rounded ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/testimages/aatik-tasneem.jpg">
</figure>

                </div>
                    <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star.png">
</figure>
</div>
                    </div>
                <p class="c-copy u-margin-bottom-md u-padding-sm">
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

            </div>
          </div>
          <div class="swiper-slide c-carousel__three-column__slide u-display-block u-padding-left-sm u-padding-right-sm u-padding-top-md u-padding-bottom-md swiper-slide-active" data-swiper-slide-index="0" style="width: 276.667px; margin-right: 30px;">
            <div class="c-teaser u-text-center">
                <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-sm">

    <a href="true" class="c-heading__link">
   Tom Jerkins
   
    </a>

</h4>

                <p class="c-copy c-copy--medium u-margin-bottom-sm">
  
    Photographer
    
  
</p>

                <div class="l-grid__column-5 u-margin-auto">
                    <figure class="c-image c-image--rounded ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/testimages/aatik-tasneem.jpg">
</figure>

                </div>
                    <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star.png">
</figure>
</div>
                    </div>
                <p class="c-copy u-margin-bottom-md u-padding-sm">
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

            </div>
          </div>
          <div class="swiper-slide c-carousel__three-column__slide u-display-block u-padding-left-sm u-padding-right-sm u-padding-top-md u-padding-bottom-md swiper-slide-next" data-swiper-slide-index="1" style="width: 276.667px; margin-right: 30px;">
            <div class="c-teaser u-text-center">
                <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-sm">

    <a href="true" class="c-heading__link">
   Emily Dickens
   
    </a>

</h4>

                <p class="c-copy c-copy--medium u-margin-bottom-sm">
  
    Graphic Designer
    
  
</p>

                <div class="l-grid__column-5 u-margin-auto">
                    <figure class="c-image c-image--rounded ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/testimages/aatik-tasneem.jpg">
</figure>

                </div>
                    <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star.png">
</figure>
</div>
                    </div>
                <p class="c-copy u-margin-bottom-md u-padding-sm">
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

            </div>
          </div>
          <div class="swiper-slide c-carousel__three-column__slide u-display-block u-padding-left-sm u-padding-right-sm u-padding-top-md u-padding-bottom-md" data-swiper-slide-index="2" style="width: 276.667px; margin-right: 30px;">
            <div class="c-teaser u-text-center">
                <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-sm">

    <a href="true" class="c-heading__link">
   Nolwen Jameson
   
    </a>

</h4>

                <p class="c-copy c-copy--medium u-margin-bottom-sm">
  
    Travel Agency
    
  
</p>

                <div class="l-grid__column-5 u-margin-auto">
                    <figure class="c-image c-image--rounded ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/testimages/aatik-tasneem.jpg">
</figure>

                </div>
                    <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star.png">
</figure>
</div>
                    </div>
                <p class="c-copy u-margin-bottom-md u-padding-sm">
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

            </div>
          </div>
          <div class="swiper-slide c-carousel__three-column__slide u-display-block u-padding-left-sm u-padding-right-sm u-padding-top-md u-padding-bottom-md" data-swiper-slide-index="3" style="width: 276.667px; margin-right: 30px;">
            <div class="c-teaser u-text-center">
                <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-sm">

    <a href="true" class="c-heading__link">
   Tom Jerkins
   
    </a>

</h4>

                <p class="c-copy c-copy--medium u-margin-bottom-sm">
  
    Photographer
    
  
</p>

                <div class="l-grid__column-5 u-margin-auto">
                    <figure class="c-image c-image--rounded ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/testimages/aatik-tasneem.jpg">
</figure>

                </div>
                    <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star.png">
</figure>
</div>
                    </div>
                <p class="c-copy u-margin-bottom-md u-padding-sm">
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

            </div>
          </div>
          <div class="swiper-slide c-carousel__three-column__slide u-display-block u-padding-left-sm u-padding-right-sm u-padding-top-md u-padding-bottom-md swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="width: 276.667px; margin-right: 30px;">
            <div class="c-teaser u-text-center">
                <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-sm">

    <a href="true" class="c-heading__link">
   Tom Jerkins
   
    </a>

</h4>

                <p class="c-copy c-copy--medium u-margin-bottom-sm">
  
    Photographer
    
  
</p>

                <div class="l-grid__column-5 u-margin-auto">
                    <figure class="c-image c-image--rounded ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/testimages/aatik-tasneem.jpg">
</figure>

                </div>
                    <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star.png">
</figure>
</div>
                    </div>
                <p class="c-copy u-margin-bottom-md u-padding-sm">
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

            </div>
          </div>

        <div class="swiper-slide c-carousel__three-column__slide u-display-block u-padding-left-sm u-padding-right-sm u-padding-top-md u-padding-bottom-md swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 276.667px; margin-right: 30px;">
            <div class="c-teaser u-text-center">
                <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-sm">

    <a href="true" class="c-heading__link">
   Tom Jerkins
   
    </a>

</h4>

                <p class="c-copy c-copy--medium u-margin-bottom-sm">
  
    Photographer
    
  
</p>

                <div class="l-grid__column-5 u-margin-auto">
                    <figure class="c-image c-image--rounded ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/testimages/aatik-tasneem.jpg">
</figure>

                </div>
                    <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star.png">
</figure>
</div>
                    </div>
                <p class="c-copy u-margin-bottom-md u-padding-sm">
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

            </div>
          </div><div class="swiper-slide c-carousel__three-column__slide u-display-block u-padding-left-sm u-padding-right-sm u-padding-top-md u-padding-bottom-md swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 276.667px; margin-right: 30px;">
            <div class="c-teaser u-text-center">
                <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-sm">

    <a href="true" class="c-heading__link">
   Emily Dickens
   
    </a>

</h4>

                <p class="c-copy c-copy--medium u-margin-bottom-sm">
  
    Graphic Designer
    
  
</p>

                <div class="l-grid__column-5 u-margin-auto">
                    <figure class="c-image c-image--rounded ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/testimages/aatik-tasneem.jpg">
</figure>

                </div>
                    <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star.png">
</figure>
</div>
                    </div>
                <p class="c-copy u-margin-bottom-md u-padding-sm">
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

            </div>
          </div><div class="swiper-slide c-carousel__three-column__slide u-display-block u-padding-left-sm u-padding-right-sm u-padding-top-md u-padding-bottom-md swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 276.667px; margin-right: 30px;">
            <div class="c-teaser u-text-center">
                <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-sm">

    <a href="true" class="c-heading__link">
   Nolwen Jameson
   
    </a>

</h4>

                <p class="c-copy c-copy--medium u-margin-bottom-sm">
  
    Travel Agency
    
  
</p>

                <div class="l-grid__column-5 u-margin-auto">
                    <figure class="c-image c-image--rounded ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/testimages/aatik-tasneem.jpg">
</figure>

                </div>
                    <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star-filled.png">
</figure>
</div>
                        <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="/etc/designs/qb-aem/clientlib-site/assets/images/star.png">
</figure>
</div>
                    </div>
                <p class="c-copy u-margin-bottom-md u-padding-sm">
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

            </div>
          </div></div>
      </div>
      <div class="c-carousel__pagination-row u-full-width u-text-center">
        <div class="c-carousel-one-line-pagination l-grid__row">
          <div class="c-carousel__three-column__prev l-grid__column-small-1 u-text-center">
            <span class="c-icon c-icon--arrow-left-slim c-icon--3x"></span>
          </div>
          <div class="c-carousel__three-column-wrapper__pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="c-carousel__two-column__bullet is-active"></span><span class="c-carousel__two-column__bullet"></span></div>
          <div class="c-carousel__three-column__next l-grid__column-small-1 u-text-center">
            <span class="c-icon c-icon--arrow-right-slim c-icon--3x"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>