<div data-sly-test="${wcmmode.edit}" data-sly-unwrap> This is help me find out static component </div> 


<div class="l-grid__row u-margin-top-lg justify-content-center">
    <div class="l-grid__column-medium-12">
      <div class="c-poland-help-find-me-out-modal c-tooltip js-toggle-tooltip ">
  <a href="#" class="c-link c-tooltip__link js-toggle-tooltip__link c-icon c-icon--search" aria-expanded="false">
    Help me find out
  </a>
  <div role="tooltip" class="c-tooltip__item c-tooltip__item--editable l-grid__column-small-12 l-grid__column-medium-8 l-grid__column-large-6" aria-hidden="true">
    <div class="l_grid">
      <div class="l-grid__row">
        <div class="l-grid__column-12">
          <p class="c-copy c-copy--xlarge">
  
    Help me find out
    
  
</p>

        </div>
      </div>
      <div class="l-grid__row">
        <div class="l-grid__column-6">
          <div class="c-textfield js-floating u-margin-top-0">
  <input id="" class="c-textinput__field c-textinput__field--floating js-floating__input">
  <label for="" class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Town
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

        </div>
        <div class="l-grid__column-6">
          <div class="c-poland-form-select js-poland-form-select u-margin-top-md">
  <span class="c-poland-form-select__placeholder">Street</span>
  <span class="c-poland-form-select__icon c-icon c-icon--chevron-down"></span>
  <div class="c-poland-form-select__option-container">
      <div class="c-poland-form-select__filter">
          <input type="text" placeholder="Type street name">
      </div>
    <div class="c-poland-form-select__option-list">
          <ul class="c-poland-form-select__option-group">
                <li class="c-poland-form-select__option">
                  
                  Ptasia
                </li>
                <li class="c-poland-form-select__option">
                  
                  Niska
                </li>
                <li class="c-poland-form-select__option">
                  
                  Graniczna
                </li>
          </ul>
    </div>
  </div>
</div>


        </div>
      </div>
      <div class="l-grid__row">
        <div class="l-grid__column-12">
          <div class="c-poland-form-select js-poland-form-select u-margin-top-md">
  <span class="c-poland-form-select__placeholder">Street</span>
  <span class="c-poland-form-select__icon c-icon c-icon--chevron-down"></span>
  <div class="c-poland-form-select__option-container">
      <div class="c-poland-form-select__filter">
          <input type="text" placeholder="Type street name">
      </div>
    <div class="c-poland-form-select__option-list">
          <ul class="c-poland-form-select__option-group">
                <li class="c-poland-form-select__option">
                  
                  Mazowieckie, Warszawa, 01-652
                </li>
                <li class="c-poland-form-select__option">
                  
                  Podlaskie, Lesznowola, 03-634
                </li>
                <li class="c-poland-form-select__option">
                  
                  Pomorskie, Ryki, 06-345
                </li>
          </ul>
    </div>
  </div>
</div>


        </div>
      </div>
      <div class="l-grid__row justify-content-center u-margin-top-md">
        <button class="c-button " type="">
  CONFIRM
</button>

      </div>
    </div>
  </div>
</div>

    </div>
  </div>