 <header class="c-header">
    <div class="c-header-metabar">
      <div class="c-header-metabar__content c-header__wrapper">
        <div class='c-header-metabar__language'>
        </div>
        <div class="c-header-metabar__agent">
          <div class="c-search-agent c-tooltip js-toggle-tooltip c-tooltip__item--editable">
            <button role="link" class="c-button c-button--small js-toggle-tooltip__link c-tooltip__link" aria-expanded="false" aria-describedby="tooltipID1">
              Find agent
              <span class="fa fa-angle-down c-button__icon"></span>
            </button>
            <div class="c-tied-agent-flyout c-tooltip__item c-tooltip__item--no-padding c-tooltip__item--editable" role="tooltip" aria-hidden="true">
              <div class="u-aria-only" id="tooltipID1">Find your agent</div>
              <div class="c-tied-agent-flyout__search">
                <form class="c-form-agent-search">
                  <div class="c-form__group l-grid__row">
                    <fieldset class="l-grid__column-12">
                      <div class="l-grid__row c-form-agent-search__inputs">
                        <legend class="c-form-agent-search__legend c-form__legend l-grid__column-12">
                          <h1 class="c-heading c-heading--subsection-large c-form-agent-search__heading" >
                          Find an agent near you
                          </h1>
                        </legend>
                      <figure class="c-image c-form-agent-search__image ">
                        <img  class="c-image__img" alt="useful description of image if informative and not decoration only."  src="&#x2F;&#x2F;placehold.it&#x2F;150"/>
                      </figure>
                      <div class="l-grid__column-medium-12">
                        <div class="c-textfield js-floating c-form-agent-search__textfield">
                          <input  id="textinput1" class="c-textinput__field c-textinput__field--floating js-floating__input"  />
                            <label for="textinput1" class="c-textinput__label c-textinput__label--floating">
                              <span class="c-textinput__label--optional"></span>
                              Search by name    
                            </label>
                            <p class="c-textinput__label--bottom"></p>
                        </div>
                        <div class="c-textfield js-floating c-form-agent-search__textfield">
                          <input id="textinput2" class="c-textinput__field c-textinput__field--floating js-floating__input"  />
  <label for="textinput2"  class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Search by zip code or city
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

                </div>
            </div>
            <div class="l-grid__row">
                <div class="l-grid__column-medium-12">
                    <button
  class="c-button c-button--block c-form-agent-search__button"
  type="submit"
  >
  Search now
</button>

                </div>
            </div>
        </fieldset>
    </div>
</form>

  </div>
</div>

</div>

        </div>
        <div class="c-header-metabar__user">
          <div class="c-tooltip js-toggle-tooltip ">
  <a href="#" class="c-link c-user-login-info__link js-toggle-tooltip__link" aria-expanded="false" aria-describedby="tooltipID3">
    Welcome, Isabel Laux
    <span class="fa fa-angle-down c-button__icon"></span>
  </a>
  <div role="tooltip" class="c-user-login-info c-tooltip__item l-grid__column-small-12 l-grid__column-medium-6 l-grid__column-large-4" aria-hidden="true">

    <div id="tooltipID3" class="u-aria-only">Your user data</div>

    <h3
  class="c-heading c-user-login-info__header u-text-center"
  
  
  >

   Your data, Isabel
   

</h3>


    <div class="c-user-login-info__section">
      <div class="c-user-login-info__label" role="heading" aria-describedby="textID1">
        Email Address
      </div>
      <div class="c-user-login-info__data">
        <p class="c-copy c-copy--large" id="textID1">
  
    isabel.laux@allianz.com
    
  
</p>

      </div>
    </div>

    <div class="c-user-login-info__section">
      <div class="c-user-login-info__label" role="heading" aria-describedby="textID2">
        Customer Number
      </div>
      <div class="c-user-login-info__data">
        <p class="c-copy c-copy--large" id="textID2">
  
    00127088
    
  
</p>

      </div>
    </div>

    <button
  class="c-button c-user-login-info__button"
  type=""
  >
  Edit your profile
</button>

    <button
  class="c-button c-button--secondary c-user-login-info__button"
  type=""
  >
  Logout
</button>


  </div>
</div>

        </div>
      </div>
    </div>
    <div class="c-three-level-navigation js-search js-three-level-nav">
  <div class="c-navigation">
    <div class="c-navigation--extended js-nav-extended">
      <div class="c-navigation__bar c-header__wrapper">
        <div class="c-main-navbar">
          <ul role="menu" class="c-main-navbar__list">
            <li aria-hidden="true" class="c-main-navbar__item--forced-right">
                <div class="c-search t-bg-white">
                  <div class="l-grid__row">
                    <div class="l-grid__column-12">
                      <a
  class="c-link c-link--block c-searchbar__opener js-search-opener"

  href='#'

  >

    <span aria-hidden="true" class="c-link__icon fa fa-search c-searchbar__search-icon"></span>

  <span class="c-link__text">Search</span>
  
</a>

                    </div>
                  </div>
                </div>
            </li>
            <div class="c-flyout c-flyout--search-bar">
              <div class="c-flyout__layout">
                <div class="c-flyout__content">
                  <div class="l-grid__row">
                    <div class="l-grid__column-12">
                      <div class="c-searchbar js-searchbar c-searchbar--hidden">
  <div class="c-searchbar__form">
      <div class="c-searchbar__icon"><i aria-hidden="true" class="fa fa-search c-searchbar__search-icon"></i>
      </div>
      <div class="c-searchbar__input-holder">
          <input type="text" placeholder="To search start typing.." class="c-searchbar__input js-searchbar__input">
      </div>
      <div class="c-searchbar__actions">
          <button
  class="c-button c-button c-searchbar__button js-searchbar__search-button"
  type=""
  >
  Search
</button>

          <button
  class="c-button c-button c-button--secondary c-searchbar__button js-searchbar__cancel-button"
  type=""
  >
  Cancel
</button>

          <a
  class="c-link c-link--block c-searchbar__link--mobile js-searchbar__clear-button--mobile"

  href='#'

  >

    <span aria-hidden="true" class="c-link__icon fa fa-times"></span>

  <span class="c-link__text"> </span>
  
</a>

          <button
  class="c-button c-button--small c-searchbar__button--mobile js-searchbar__go-button--mobile"
  type=""
  >
  GO
</button>

      </div>
  </div>
</div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-navigation--compact">
      <div class="c-mobilebar">
        <div class="c-mobilebar__action">
          <div class="c-search t-bg-white">
            <div class="l-grid__row">
              <div class="l-grid__column-12">
                <a
  class="c-link c-link--block c-searchbar__opener js-search-opener"

  href='#'

  >

    <span aria-hidden="true" class="c-link__icon fa fa-search c-searchbar__search-icon"></span>

  <span class="c-link__text">Search</span>
  
</a>

              </div>
            </div>
          </div>
        </div>
        <div class="c-mobilebar__action">
          <a href="#" class="c-mobilebar__action c-mobilebar__open js-agent-link-mobile">
            <i aria-hidden="true" class="fa fa-user"></i>
          </a>
        </div>
        <div class="c-mobilebar__action">
          <a href="#" class="c-mobilebar__action c-mobilebar__open js-opener-link-mobile">
            <i aria-hidden="true" class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="c-flyout c-flyout--search-bar">
        <div class="c-flyout__layout">
          <div class="c-flyout__content">
            <div class="l-grid__row">
              <div class="l-grid__column-12">
                <div class="c-searchbar js-searchbar c-searchbar--hidden">
  <div class="c-searchbar__form">
      <div class="c-searchbar__icon"><i aria-hidden="true" class="fa fa-search c-searchbar__search-icon"></i>
      </div>
      <div class="c-searchbar__input-holder">
          <input type="text" placeholder="To search start typing.." class="c-searchbar__input js-searchbar__input">
      </div>
      <div class="c-searchbar__actions">
          <button
  class="c-button c-button c-searchbar__button js-searchbar__search-button"
  type=""
  >
  Search
</button>

          <button
  class="c-button c-button c-button--secondary c-searchbar__button js-searchbar__cancel-button"
  type=""
  >
  Cancel
</button>

          <a
  class="c-link c-link--block c-searchbar__link--mobile js-searchbar__clear-button--mobile"

  href='#'

  >

    <span aria-hidden="true" class="c-link__icon fa fa-times"></span>

  <span class="c-link__text"> </span>
  
</a>

          <button
  class="c-button c-button--small c-searchbar__button--mobile js-searchbar__go-button--mobile"
  type=""
  >
  GO
</button>

      </div>
  </div>
</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-flyout c-flyout--search-result">
    <div class="c-flyout__layout">
      <div class="c-flyout__content">
        <!-- Search -->
        <div class="c-search t-bg-white">
          <div class="l-grid__row">
            <div class="l-grid__column-12">
              <div class="c-search__suggestions c-header__wrapper js-search__suggestions c-search__suggestions--hidden">
  <div class="c-search__suggestions-title">
      Suggestions
  </div>
  <div class="c-search__suggestions-content">
      <ul class="c-search__suggestions-list">
      </ul>
  </div>
</div>

            </div>
          </div>
        </div>
        <!-- END Search -->
      </div>
    </div>
  </div>
  <div class="c-flyout">
    <div class="c-flyout__layout">
      <div class="c-flyout__content">
        <div class="l-grid__row">
          <div class="l-grid__column-12">
            <div class="c-navigation__agent js-agent-mobile" style="display: none;">
              <form class="c-form-agent-search">
    <div class="c-form__group l-grid__row">
        <fieldset class="l-grid__column-12">
            <div class="l-grid__row c-form-agent-search__inputs">
                <legend class="c-form-agent-search__legend c-form__legend l-grid__column-12">
                    <h1
  class="c-heading c-heading--subsection-large c-form-agent-search__heading"
  
  
  >

   Find an agent near you
   

</h1>

                </legend>
                <figure class="c-image c-form-agent-search__image ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="&#x2F;&#x2F;placehold.it&#x2F;150"
    
    />
</figure>

                <div class="l-grid__column-medium-12">
                    <div class="c-textfield js-floating c-form-agent-search__textfield">
  <input
    id="textinput1"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textinput1"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Search by name
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

                    <div class="c-textfield js-floating c-form-agent-search__textfield">
  <input
    id="textinput2"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textinput2"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Search by zip code or city
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

                </div>
            </div>
            <div class="l-grid__row">
                <div class="l-grid__column-medium-12">
                    <button
  class="c-button c-button--block c-form-agent-search__button"
  type="submit"
  >
  Search now
</button>

                </div>
            </div>
        </fieldset>
    </div>
</form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-flyout c-flyout--sub-navigation">
    <div class="c-flyout__layout">
      <div class="c-flyout__content">
        <!-- Desktop -->
      </div>
    </div>
  </div>
</div>

</header>



<div class="c-stage c-stage--cutout c-stage--cutout--poland t-bg-soft-beige-light ">

  <div class="c-stage__content">
    <div class="l-grid l-grid--max-width">
      <div class="l-grid__row">
        <div class="l-grid__column-large-8 offset-large-2">
          <h1
  class="c-heading c-heading c-heading--page c-stage__headline"
  
  
  >

    
   Choose insurance tailored to your needs

</h1>

        </div>

        <div class="l-grid__column-large-8 offset-large-2 c-stage--cutout--poland__list-group">
            <ul class="c-list c-list--icon">
    <li class="c-list__item ">
      <span aria-hidden="true" class="fa fa-check t-rich-green"></span>
      Extensive protection with best price garantee
    </li>
    <li class="c-list__item ">
      <span aria-hidden="true" class="fa fa-check t-rich-green"></span>
      24h help service - in case of x
    </li>
    <li class="c-list__item ">
      <span aria-hidden="true" class="fa fa-check t-rich-green"></span>
      Customization of your personal insurance
    </li>
</ul>

        </div>

        <div class="l-grid__column-large-12">
          <figure class="c-image c-stage__cutout-image ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/bmw.png"
    
    />
</figure>

        </div>
        <div class="l-grid__column-large-6 offset-large-3">
          <button
  class="c-button "
  type=""
  >
  Let&#39;s start
</button>

        </div>
      </div>
    </div>
  </div>

  <div class="c-promotional-element c-promotional-element--circle c-promotional-element--rotate c-promotional-element--circle--bordered t-border-rich-red">
    <div class="c-promotional-element--circle__inner t-rich-red u-text-center">
      <h3 class="c-heading c-heading--subsection-large c-heading--promo-large c-heading--promo-large--bold">
        14<span class="c-heading--promo-large__small-text">%</span>
      </h3>
      <p class="c-promotional-element__text-small c-promotional-element__text-bold">off new policies online</p>
    </div>
  </div>
</div>


<div class="l-grid l-grid--max-width">
  <div class="l-grid__row">
    <div class="l-grid__column-12">
      <h2
  class="c-heading c-tile__heading-section--text-primary u-text-center"
  
  
  >

   Allianz - our promise
   

</h2>

      <h2
  class="c-heading c-tile__heading-section--text-secondary u-text-center"
  
  
  >

   Dare to do whatever you want - we’re with you!
   

</h2>

    </div>
    <div class="l-grid__column-small-12 l-grid__column-medium-12 l-grid__column-large-4">
      <div class="c-tile c-tile--text">
  <div class="c_tile__image-wrapper c_tile__image-wrapper--fix-height">
    <figure class="c-image c-image--center ">
  <img
    class="c-image__img c-tile__image"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/Heart.png"
    
    />
</figure>

  </div>

  <h3
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   We care about our customers.
   

</h3>


  <p class="c-copy " >
  
    In 2015, our average customer rating was 1,8. Just enough to let us strive for even more, every single day.
    
  
</p>

</div>

    </div>
    <div class="l-grid__column-small-12 l-grid__column-medium-12 l-grid__column-large-4">
      <div class="c-tile c-tile--text">
  <div class="c_tile__image-wrapper c_tile__image-wrapper--fix-height">
    <figure class="c-image c-image--center ">
  <img
    class="c-image__img c-tile__image"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/Stars.png"
    
    />
</figure>

  </div>

  <h3
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   We know what we’re doing.
   

</h3>


  <p class="c-copy " >
  
    We started selling insurances 125 years ago. We use our knowledge and expertise to improve our customer’s experience
    
  
</p>

</div>

    </div>
    <div class="l-grid__column-small-12 l-grid__column-medium-12 l-grid__column-large-4">
      <div class="c-tile c-tile--text">
  <div class="c_tile__image-wrapper c_tile__image-wrapper--fix-height">
    <figure class="c-image c-image--center ">
  <img
    class="c-image__img c-tile__image"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/Badge.png"
    
    />
</figure>

  </div>

  <h3
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   We’ve got special offers to you.
   

</h3>


  <p class="c-copy " >
  
    Get individual advantages based on your needs, day by day. Your personal Allianz web portal awaits you with tailor-made offers.
    
  
</p>

</div>

    </div>
    <div class="l-grid__column-12 u-text-center">
      <button class="c-button " [routerLink]="['/cardetails']"  type="" >NEXT STEP</button>

    </div>

    <div class="c-tile-container">
  <div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
      <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-12">
        <h2
  class="c-heading c-tile__heading-section--standard u-text-center"
  
  
  >

   What would you like to do?
   

</h2>

      </div>
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img
    class="c-image__img c-tile__image"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/Car.png"
    
    />
</figure>


    <h3
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   Product Package
   

</h3>


    <span
  class="c-link c-link--block c-tile__info-link"

   

  >

    <span aria-hidden="true" class="c-link__icon fa fa-long-arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img
    class="c-image__img c-tile__image"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/Checklist.png"
    
    />
</figure>


    <h3
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   Get a quote
   

</h3>


    <span
  class="c-link c-link--block c-tile__info-link"

   

  >

    <span aria-hidden="true" class="c-link__icon fa fa-long-arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img
    class="c-image__img c-tile__image"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/Phone.png"
    
    />
</figure>


    <h3
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   See my insurance product
   

</h3>


    <span
  class="c-link c-link--block c-tile__info-link"

   

  >

    <span aria-hidden="true" class="c-link__icon fa fa-long-arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img
    class="c-image__img c-tile__image"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/Shield.png"
    
    />
</figure>


    <h3
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   See car benefit
   

</h3>


    <span
  class="c-link c-link--block c-tile__info-link"

   

  >

    <span aria-hidden="true" class="c-link__icon fa fa-long-arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img
    class="c-image__img c-tile__image"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/World.png"
    
    />
</figure>


    <h3
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   Close cooperation with service garages globally
   

</h3>


    <span
  class="c-link c-link--block c-tile__info-link"

   

  >

    <span aria-hidden="true" class="c-link__icon fa fa-long-arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
      <div class="l-grid__column-small-6 l-grid__column-medium-4">
        <div class="c-tile c-tile--fluid">
  <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
    <figure class="c-image c-tile__image-box-90by56 ">
  <img
    class="c-image__img c-tile__image"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/Headset.png"
    
    />
</figure>


    <h3
  class="c-heading c-tile__heading-sub-section"
  
  
  >

   Instant help in case of a car accident
   

</h3>


    <span
  class="c-link c-link--block c-tile__info-link"

   

  >

    <span aria-hidden="true" class="c-link__icon fa fa-long-arrow-right"></span>

  <span class="c-link__text">READ MORE</span>
  
</span>

  </a>
</div>

      </div>
    </div>
  </div>
</div>

  </div>
</div>

<div class="c-carousel__three-column-container t-bg-soft-grey u-margin-bottom-0">
  <div class="c-carousel__three-column__header--center">
    <h2
  class="c-heading c-heading--section u-margin-bottom-0"
  
  
  >

   Social Recommendation
   

</h2>

  </div>
  <div class="js-carousel-three-column swiper-container c-carousel__three-column">
    <div class="swiper-wrapper c-carousel__three-column-wrapper">
      <div class="swiper-slide c-carousel__three-column__slide">
        <div class="c-teaser u-text-center">
            <h4
  class="c-heading c-heading--subsection-medium u-margin-bottom-sm"
  
  
  >

    <a href="true" class="c-heading__link">
   Tom Jerkins
   
    </a>

</h4>

            <p class="c-copy c-copy--medium u-margin-bottom-sm" >
  
    Photographer
    
  
</p>

            <div class="l-grid__column-5 u-margin-auto">
                <figure class="c-image c-image--rounded ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/aatik-tasneem.jpg"
    
    />
</figure>

            </div>
                <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star.png"
    
    />
</figure>
</div>
                </div>
            <p class="c-copy u-margin-bottom-md u-padding-sm" >
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

        </div>
      </div>
      <div class="swiper-slide c-carousel__three-column__slide">
        <div class="c-teaser u-text-center">
            <h4
  class="c-heading c-heading--subsection-medium u-margin-bottom-sm"
  
  
  >

    <a href="true" class="c-heading__link">
   Emily Dickens
   
    </a>

</h4>

            <p class="c-copy c-copy--medium u-margin-bottom-sm" >
  
    Graphic Designer
    
  
</p>

            <div class="l-grid__column-5 u-margin-auto">
                <figure class="c-image c-image--rounded ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/testimages&#x2F;aatik-tasneem.jpg"
    
    />
</figure>

            </div>
                <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star.png"
    
    />
</figure>
</div>
                </div>
            <p class="c-copy u-margin-bottom-md u-padding-sm" >
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

        </div>
      </div>
      <div class="swiper-slide c-carousel__three-column__slide">
        <div class="c-teaser u-text-center">
            <h4
  class="c-heading c-heading--subsection-medium u-margin-bottom-sm"
  
  
  >

    <a href="true" class="c-heading__link">
   Nolwen Jameson
   
    </a>

</h4>

            <p class="c-copy c-copy--medium u-margin-bottom-sm" >
  
    Travel Agency
    
  
</p>

            <div class="l-grid__column-5 u-margin-auto">
                <figure class="c-image c-image--rounded ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/testimages&#x2F;aatik-tasneem.jpg"
    
    />
</figure>

            </div>
                <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star.png"
    
    />
</figure>
</div>
                </div>
            <p class="c-copy u-margin-bottom-md u-padding-sm" >
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

        </div>
      </div>
      <div class="swiper-slide c-carousel__three-column__slide">
        <div class="c-teaser u-text-center">
            <h4
  class="c-heading c-heading--subsection-medium u-margin-bottom-sm"
  
  
  >

    <a href="true" class="c-heading__link">
   Tom Jerkins
   
    </a>

</h4>

            <p class="c-copy c-copy--medium u-margin-bottom-sm" >
  
    Photographer
    
  
</p>

            <div class="l-grid__column-5 u-margin-auto">
                <figure class="c-image c-image--rounded ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/testimages&#x2F;aatik-tasneem.jpg"
    
    />
</figure>

            </div>
                <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star.png"
    
    />
</figure>
</div>
                </div>
            <p class="c-copy u-margin-bottom-md u-padding-sm" >
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

        </div>
      </div>
      <div class="swiper-slide c-carousel__three-column__slide">
        <div class="c-teaser u-text-center">
            <h4
  class="c-heading c-heading--subsection-medium u-margin-bottom-sm"
  
  
  >

    <a href="true" class="c-heading__link">
   Tom Jerkins
   
    </a>

</h4>

            <p class="c-copy c-copy--medium u-margin-bottom-sm" >
  
    Photographer
    
  
</p>

            <div class="l-grid__column-5 u-margin-auto">
                <figure class="c-image c-image--rounded ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/testimages&#x2F;aatik-tasneem.jpg"
    
    />
</figure>

            </div>
                <div class="l-grid__row l-grid__column-9 u-margin-auto u-padding-none u-margin-top-sm u-margin-bottom-sm justify-content-center">
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star-filled.png"
    
    />
</figure>
</div>
                    <div class="l-grid__column-1 star-wrapper"> <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/star.png"
    
    />
</figure>
</div>
                </div>
            <p class="c-copy u-margin-bottom-md u-padding-sm" >
  
    Policy offered comparable value with other online suppliers but the proof of pudding will be in the eating when a claim has to be lodged! It is not necessary for me to lodge a claim.
    
  
</p>

        </div>
      </div>

    </div>
  </div>
  <div class="c-carousel__pagination-row">
    <!-- If we need navigation buttons -->
    <div class="c-carousel__three-column__prev">
      <span class="fa"></span>
    </div>
    <div class="c-carousel__three-column__next">
      <span class="fa"></span>
    </div>
    <!-- Add Pagination -->
    <!-- If we need pagination -->
    <div class="c-carousel__three-column-wrapper__pagination"></div>
  </div>
</div>


<div class="c-info-card c-info-card__ t-bg-soft-blue-light  ">
  <div class="l-grid l-grid--max-width">
    <div class="l-grid__row ">
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-3 u-hidden-medium-down">
        <figure class="c-image c-info-card__image ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/operator.png"
    
    />
</figure>

      </div>
      <div class="offset-large-1 l-grid__column-large-7">
        <div class="l-grid__row flex-column">
          <div>
            <h3
                class="c-heading c-heading--section u-text-medium-center-down u-text-center"
  
  
  >

   Hotline support: 224 224 224
   

</h3>

          </div>
          <div class="u-hidden-large-up l-grid__column-12 offset-small-4 l-grid__column-small-4 l-grid__column-xsmall-12 flex-medium-first u-margin-bottom-lg u-flex-basis-auto">
            <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/operator.png"
    
    />
</figure>

          </div>
          <div>
            <p class="c-copy u-text-medium-center-down u-text-center u-margin-bottom-0" >
  
    Allianz is your strong partner, assisting you with any obstacle or difficulties that may cross your paths.
    
  
</p>

          </div>
          <div>
            <p class="c-copy u-text-medium-center-down u-text-center u-margin-bottom-0" >
  
    I need more information please call me back.
    
  
</p>

          </div>
          <div>
            <div class="c-textfield js-floating u-background-inherit u-margin-top-0 l-grid__column-large-5 u-margin-auto">
  <input
    id="textinput1"
    
    class="c-textinput__field c-textinput__field--floating js-floating__input"
    />
  <label
    for="textinput1"
    class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Phone
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

          </div>
          <div class="u-margin-auto">
            <button
  class="c-button c-button u-margin-top-md"
  type=""
  >
  Give me a call
</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="c-footer c-footer--poland ">
  <div class="c-footer__navigation">
  <div class="l-grid l-grid--max-width u-background-inherit">
    <div class="l-grid__row">
    </div>
    <div class="l-grid__row c-footer__navigation__illustrator-container">
      <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/Illustration&#x2F;footer-illustration.png"
    
    />
</figure>

    </div>
  </div>
</div>

  <div class="l-grid l-grid--max-width c-footer__tagline">
  <div class="l-grid__row">
    <div class="l-grid__column-8 offset-2">
      <h3
  class="c-heading c-footer__tagline-headline c-heading--subsection-medium"
  
  
  >

   Allianz Online. You pay what you need.
   

</h3>

    </div>
  </div>
</div>

  <div class="c-footer__social c-footer__social--desktop">
    <a class="c-footer__social-link" href="#" title="Find us on Google+">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on Facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Subscribe to our twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
</div>


<hr class="c-divider c-divider--compact c-footer__divider"/>
<div class="c-footer__service">
  <div class="l-grid__row c-footer__logo">
  <div class="l-grid__column-4 offset-4">
    <figure class="c-image  ">
  <img
    class="c-image__img"
    alt="useful description of image if informative and not decoration only."
    src="../assets/images/allianz-online.png"
    
    />
</figure>

  </div>
</div>

  <nav class="c-footer__legal" role="navigation" aria-label="Service Links">
    <a class="c-footer__legal-link" href="#">
      Map of page
    </a>
    <a class="c-footer__legal-link" href="#">
      Best practises
    </a>
    <a class="c-footer__legal-link" href="#">
      Legal reservations, cookies
    </a>
    <a class="c-footer__legal-link" href="#">
      Security in net
    </a>
</nav>

  <div class="c-footer__copyright">
  <small class="c-copyright" role="contentinfo">&copy; Allianz 2017</small>
</div>

  <div class="c-footer__social ">
    <a class="c-footer__social-link" href="#" title="Find us on Google+">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on Facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Subscribe to our twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="c-footer__social-link" href="#" title="Follow us on instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
</div>

  <div class="c-phone-link c-footer__phone">
  <span class="c-phone-link__title c-phone-link__title--desktop">
    <i class="fa fa-phone c-phone-link__icon" aria-hidden="true"></i>
    Hotline Support
  </span>

  <span class="c-phone-link__title c-phone-link__title--tablet">
    Support
  </span>

  <a class="c-phone-link__number"  href="tel:+0015551111">
    040. 123 456 789
  </a>
</div>

</div>
</footer>

