<div data-sly-test="${wcmmode.edit}" data-sly-unwrap> This is text field static component </div> 


<div class="l-gird__row u-text-center u-margin-top-lg u-padding-top-lg">
      <div data-sly-resource="${'parsysTexttooltip' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>

    <div class="l-grid__column-large-2 l-grid__column-medium-3 l-grid__column-small-4 u-margin-auto">
      <div class="c-textfield js-floating u-margin-top-0 c-textfield--center">
  <input id="" class="c-textinput__field c-textinput__field--floating js-floating__input is-filled" value="">
  <label for="" class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
     
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>

    </div>
  </div>