<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Please configure Standard equipment component </div> 

  ${properties.headertext}


<div class="l-container l-container--full-width u-margin-top-lg">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
                <h3 class="c-heading u-text-center">
                  ${properties.headertext}
                </h3>
            </div>
            <div class="l-grid__column-12">
                <p class="c-copy u-text-center c-copy--large u-padding-top-sm u-margin-bottom-0">
                    ${properties.explanationtext} 
                </p>
            </div>
            <div class="l-grid__column-12">
                <p class="c-copy u-text-center c-copy--large u-margin-bottom-0">

                ${properties.extratext} 


                </p>

            </div>

          <div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
                <div class="c-checkbox ">
                    
                    <ul>
                        <li style="font-size: 16px">Szyby atermiczne</li>
                    </ul>
                </div>

            </div><div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
                <div class="c-checkbox ">
                    
                    <ul>
                        <li style="font-size: 16px">Koło zapasowe dojazdowe</li>
                    </ul>
                </div>

            </div><div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
                <div class="c-checkbox ">
                    
                    <ul>
                        <li style="font-size: 16px">ABS + EBV - korektor siły hamowania elektr.</li>
                    </ul>
                </div>

            </div><div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
                <div class="c-checkbox ">
                    
                    <ul>
                        <li style="font-size: 16px">Lusterko wewnętrzne ściemniane automatycznie</li>
                    </ul>
                </div>

            </div><div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
                <div class="c-checkbox ">
                    
                    <ul>
                        <li style="font-size: 16px">Fotele przednie z regulacją wysokości</li>
                    </ul>
                </div>

            </div><div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
                <div class="c-checkbox ">
                    
                    <ul>
                        <li style="font-size: 16px">Immobilizer</li>
                    </ul>
                </div>

            </div><div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
                <div class="c-checkbox ">
                    
                    <ul>
                        <li style="font-size: 16px">Kolumna kierownicy regulowana</li>
                    </ul>
                </div>

            </div><div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
                <div class="c-checkbox ">
                    
                    <ul>
                        <li style="font-size: 16px">Tapicerka tekstylna</li>
                    </ul>
                </div>

            </div>

            <div class="l-grid__column-12">
              <div class="l-grid__row justify-content-center u-padding-top-lg">
              <sly data-sly-test.myPath="${properties.buttonurl}.html" />
                <button class="c-button " type="" onclick="location.href='${myPath @ context='scriptString'}'">
    ${properties.buttontext}
</button>

              </div>
            </div>

        </div>
    </div>
</div>