<div data-sly-test="${wcmmode.edit}" data-sly-unwrap> This is radio toggle static component </div> 


<div class="c-poland-toggle-group u-margin-top-lg u-padding-top-lg">
  <div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
      <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-12">
        <div data-sly-resource="${'parsysTexttooltip' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>

      </div>
    </div>

    <div class="l-grid__row">
      <div class="l-grid__column-12">
<div class="c-radio-toggle c-radio-toggle--poland ">
  <input id="item-1" class="c-radio-toggle__input" name="poland-toggle" type="radio">
  <label for="item-1" class="c-radio-toggle__label">
    data will
  </label>
  <input id="item-2" class="c-radio-toggle__input" name="poland-toggle" type="radio">
  <label for="item-2" class="c-radio-toggle__label">
  come from
  </label>
  <input id="item-3" class="c-radio-toggle__input" name="poland-toggle" type="radio">
  <label for="item-3" class="c-radio-toggle__label">
   api
  </label>
  <input id="item-4" class="c-radio-toggle__input" name="poland-toggle" type="radio" checked="" aria-selected="true">
  <label for="item-4" class="c-radio-toggle__label">
   response
  </label>
</div>

      </div>
    </div>
  </div>
</div>