<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Please configure Footer navigation tagline  component  </div>

<div class="c-footer__navigation">
  <div class="l-grid l-grid--max-width u-background-inherit">
    <div class="l-grid__row">
    </div>
    <div class="l-grid__row c-footer__navigation__illustrator-container">
      <figure class="c-image  ">
  <img class="c-image__img" alt="useful description of image if informative and not decoration only." src=" ${properties.footerntimage}">
</figure>

    </div>
  </div>
</div>



<div class="l-grid l-grid--max-width c-footer__tagline">
  <div class="l-grid__row">
    <div class="l-grid__column-8 offset-2">
      <h3 class="c-heading c-footer__tagline-headline c-heading--subsection-medium">

    ${properties.footernttext}
   

</h3>

    </div>
  </div>
</div>