<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>This is Grid layout component </div> 

<div class="l-grid l-grid--max-width">
  <div class="l-grid__row">

  <div class="l-grid__column-12 u-padding-top-lg">
      <h2 class="c-heading c-tile__heading-section--text-primary u-text-center u-margin-bottom-0 u-margin-top-lg">

  <sly data-sly-resource="${'text' @ resourceType='qb-aem/components/content/textcomponent'}"></sly>


</h2>

      <h2 class="c-heading c-tile__heading-section--text-secondary u-text-center">

  <sly data-sly-resource="${'text1' @ resourceType='qb-aem/components/content/textcomponent'}"></sly>


</h2>

    </div>
    
    
 


      

  </div>
</div>

</div>


