<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Please configure model table component </div> 

<div class="t-bg-soft-beige-lightest u-padding-lg">
  <div class="l-grid__row l-grid__row--no-gutters">
    <div class="l-grid__column-12 t-bg-white">
        <h1 class="c-heading c-heading--subsection-xsmall c-heading--list-table-sub-headline u-text-center u-margin-top-lg">


    ${properties.counttext}<br>  ${properties.countsubtext}

</h1>

      <div class="c-table__container">
  <div class=" l-scroll__container">
    <table class="c-table js-list-table js-table-sortable c-list-table__table-single-select">
      <colgroup>
        <col style="width:30px">
      </colgroup>

      <caption class="u-aria-only">
        List of companies and their prices.<br>
        <span>Column one contains the official codes used in financial markets.</span>
      </caption>

      <thead class="c-table__header">
        <tr class="c-table__header__row">
          <th class="c-table__header__cell c-table__header__cell--checkbox">
            <div class="c-table__header__title--block">
            </div>
          </th>
          <th class="c-table__header__cell c-table__header__cell--sortable js-column-sortable">
            <div class="c-table__header__title--block">
              <span class="c-table__sort-indicator ">
  <i class="c-icon c-icon--chevron-up" aria-hidden="true"></i>
  <i class="c-icon c-icon--chevron-down u-line-height-0 " aria-hidden="true"></i>
</span>

              <span class="c-table__header__title">${properties.headertabletext1}</span>
            </div>
          </th>
          <th class="c-table__header__cell c-table__header__cell--sortable js-column-sortable">
            <div class="c-table__header__title--block">
              <span class="c-table__sort-indicator ">
  <i class="c-icon c-icon--chevron-up" aria-hidden="true"></i>
  <i class="c-icon c-icon--chevron-down u-line-height-0 " aria-hidden="true"></i>
</span>

              <span class="c-table__header__title">${properties.headertabletext2}</span>
            </div>
          </th>
          <th class="c-table__header__cell c-table__header__cell--sortable js-column-sortable">
            <div class="c-table__header__title--block">
              <span class="c-table__sort-indicator ">
  <i class="c-icon c-icon--chevron-up" aria-hidden="true"></i>
  <i class="c-icon c-icon--chevron-down u-line-height-0 " aria-hidden="true"></i>
</span>

              <span class="c-table__header__title">${properties.headertabletext3}</span>
            </div>
          </th>
        </tr>
      </thead>

      <tbody class="c-table__content">
        <tr class=" c-table__row ">
          <td class="c-table__cell c-table__cell--checkbox"><div class="c-radio--small"><input type="radio" name="single-select" id="car1" class="c-radio__input js-list-table--single-select__checkbox--event-handler"><label for="car1" class="c-radio__label u-margin-none"></label></div></td>
          <td class="c-table__cell">Octavia III 1.6 TDI-CR Ambition DSG</td>
          <td class="c-table__cell">77/105</td>
          <td class="c-table__cell">Kombi 5d</td>
        </tr>
        <tr class=" c-table__row ">
          <td class="c-table__cell c-table__cell--checkbox"><div class="c-radio--small"><input type="radio" name="single-select" id="car2" class="c-radio__input js-list-table--single-select__checkbox--event-handler"><label for="car2" class="c-radio__label u-margin-none"></label></div></td>
          <td class="c-table__cell">Octavia III 2.0 TDI-CR RS DSG</td>
          <td class="c-table__cell">135/184</td>
          <td class="c-table__cell">Kombi 5d</td>
        </tr>
        <tr class=" c-table__row ">
          <td class="c-table__cell c-table__cell--checkbox"><div class="c-radio--small"><input type="radio" name="single-select" id="car3" class="c-radio__input js-list-table--single-select__checkbox--event-handler"><label for="car3" class="c-radio__label u-margin-none"></label></div></td>
          <td class="c-table__cell">Octavia III 2.0 TDI-CR RS</td>
          <td class="c-table__cell">135/184</td>
          <td class="c-table__cell">Kombi 5d</td>
        </tr>
        <tr class=" c-table__row ">
          <td class="c-table__cell c-table__cell--checkbox"><div class="c-radio--small"><input type="radio" name="single-select" id="car4" class="c-radio__input js-list-table--single-select__checkbox--event-handler"><label for="car4" class="c-radio__label"></label></div></td>
          <td class="c-table__cell">Octavia III 2.0 TSI RS DSG</td>
          <td class="c-table__cell">162/220</td>
          <td class="c-table__cell">Kombi 5d</td>
        </tr>
        <tr class=" c-table__row ">
          <td class="c-table__cell c-table__cell--checkbox"><div class="c-radio--small"><input type="radio" name="single-select" id="car5" class="c-radio__input js-list-table--single-select__checkbox--event-handler"><label for="car5" class="c-radio__label"></label></div></td>
          <td class="c-table__cell">Octavia III 1.6 TDI-CR Elegance 4x4</td>
          <td class="c-table__cell">77/105</td>
          <td class="c-table__cell">Kombi 5d</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

    </div>
  </div>
</div>