<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Please configure Car details data component </div>

<div class= "data" value="${properties.selectvariation}"> </div>
<div class="data_cb" data-sly-include="carbody.html" style="display: none;">....................carbody</div>
<div class="data_ft"  data-sly-include="fueltype.html" style="display: none;">....................fueltype</div>
<div class="data_cm"  data-sly-include="carmodel.html" style="display: none;">....................fueltype</div>
<div class="data_ce"  data-sly-include="carengine.html" style="display: none;">....................fueltype</div>
<div class="data_se"  data-sly-include="standardequipment.html" style="display: none;">....................fueltype</div>
<div class="data_ats"  data-sly-include="antitheft.html" style="display: none;">....................fueltype</div>
<div class="data_sw"  data-sly-include="sidewheel.html" style="display: none;">....................fueltype</div>


