<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>This is carusage funnel component </div> 


<div class="u-text-center c-sale-funnel t-bg-poland-green-light ">
  <div class="u-padding-md">
      <div>
          <div class="c-icon c-icon--clock-o c-sale-funnel__info-icon"></div>
        <p class="c-copy c-copy--large t-rich-grey">
  
   ${properties.clocktext}
  
</p>

      </div>

      <h1 class="c-heading  l-grid__column-large-10 offset-large-1">

 ${properties.titletext}

</h1>


      <h6 class="c-heading u-margin-top-md t-rich-grey l-grid__column-large-8 offset-large-2">

   Additional description goes here.
   

</h6>

  </div>

  <div class="c-sale-funnel__image-container u-padding-top-lg">
    <figure class="c-image  ">
  <img class="c-sale-funnel__image " alt="useful description of image if informative and not decoration only." src="${properties.funnelimg}">
</figure>

    <div class="c-sale-funnel__image__footer--center t-bg-poland-green-light"></div>
    <div class="c-sale-funnel__image__footer t-bg-poland-green"></div>
  </div>

  <div class="u-padding-bottom-lg t-bg-poland-green">
            <h6 class="c-heading c-heading--subsection-small c-heading--subsection-small--negative u-padding-top-lg u-margin-bottom-0 c-sale-funnel__form--title">

   Please fill in your licence plate number.
   

</h6>


        <div class="u-padding-top-lg c-sale-funnel__form">
            <div class="c-sale-funnel__form__group">
                  <div class="c-textfield js-floating u-margin-top-0 c-textfield--negative c-textfield--center">
  <input id="text-1" class="c-textinput__field c-textinput__field--floating js-floating__input">
  <label for="text-1" class="c-textinput__label c-textinput__label--floating">
    <span class="c-textinput__label--optional"></span>
    Licence plate (optional)
    
  </label>
  <p class="c-textinput__label--bottom"></p>
</div>





            </div>
        </div>
  </div>
</div>