<div class="l-gird__row justify-content-center u-padding-sm u-margin-top-lg u-margin-bottom-lg">
    <div class="l-grid__column-large-12 l-grid__column-medium-4 l-grid__column-small-12 justify-content-center u-margin-auto u-text-center">
        <h3 class="c-heading 3">

   ${properties.text}

</h3>

    </div>
    <div class="l-grid__column-12">
        <div class="l-grid__row u-padding-sm justify-content-center c-checkbox__row">
              <div class="l-grid__column-large-2 l-grid__column-medium-4 l-grid__column-small-12 u-text-center c-checkbox__item"><span class="c-checkbox-configurator ">
  <input id="anti-theft-security-1" class="c-checkbox-configurator__input" name="anti-theft-security-1" aria-labelledby="anti-theft-security-1-label" type="checkbox">
  <label class="c-checkbox-configurator__label icons-oneweb-allianz-Icon_Check" for="anti-theft-security-1">
    <span class="c-checkbox-configurator__icon c-icon c-icon--poland c-icon--poland--immo"></span>
    <span id="anti-theft-security-1-label">
      Immobilize
    </span>
  </label>
</span>
</div>
              <div class="l-grid__column-large-2 l-grid__column-medium-4 l-grid__column-small-12 u-text-center c-checkbox__item"><span class="c-checkbox-configurator ">
  <input id="anti-theft-security-2" class="c-checkbox-configurator__input" name="anti-theft-security-2" aria-labelledby="anti-theft-security-2-label" type="checkbox">
  <label class="c-checkbox-configurator__label icons-oneweb-allianz-Icon_Check" for="anti-theft-security-2">
    <span class="c-checkbox-configurator__icon c-icon c-icon--poland c-icon--poland--alarm"></span>
    <span id="anti-theft-security-2-label">
      Alarm
    </span>
  </label>
</span>
</div>
              <div class="l-grid__column-large-2 l-grid__column-medium-4 l-grid__column-small-12 u-text-center c-checkbox__item"><span class="c-checkbox-configurator ">
  <input id="anti-theft-security-3" class="c-checkbox-configurator__input" name="anti-theft-security-3" aria-labelledby="anti-theft-security-3-label" type="checkbox">
  <label class="c-checkbox-configurator__label icons-oneweb-allianz-Icon_Check" for="anti-theft-security-3">
    <span class="c-checkbox-configurator__icon c-icon c-icon--poland c-icon--poland--gear-lock"></span>
    <span id="anti-theft-security-3-label">
      Gear lock
    </span>
  </label>
</span>
</div>
              <div class="l-grid__column-large-2 l-grid__column-medium-4 l-grid__column-small-12 u-text-center c-checkbox__item"><span class="c-checkbox-configurator ">
  <input id="anti-theft-security-4" class="c-checkbox-configurator__input" name="anti-theft-security-4" aria-labelledby="anti-theft-security-4-label" type="checkbox">
  <label class="c-checkbox-configurator__label icons-oneweb-allianz-Icon_Check" for="anti-theft-security-4">
    <span class="c-checkbox-configurator__icon c-icon c-icon--poland c-icon--poland--gps"></span>
    <span id="anti-theft-security-4-label">
      GPS
    </span>
  </label>
</span>
</div>
              <div class="l-grid__column-large-2 l-grid__column-medium-4 l-grid__column-small-12 u-text-center c-checkbox__item"><span class="c-checkbox-configurator ">
  <input id="anti-theft-security-5" class="c-checkbox-configurator__input" name="anti-theft-security-5" aria-labelledby="anti-theft-security-5-label" type="checkbox">
  <label class="c-checkbox-configurator__label icons-oneweb-allianz-Icon_Check" for="anti-theft-security-5">
    <span class="c-checkbox-configurator__icon c-icon c-icon--poland c-icon--poland--shield"></span>
    <span id="anti-theft-security-5-label">
      Other
    </span>
  </label>
</span>
</div>
        </div>
    </div>

      <div class="l-grid__row justify-content-center u-margin-top-lg">
        <div class="c-checkbox ">
  <input type="checkbox" name="checkbox1" id="checkbox1" aria-labelledby="checkbox1-label" tabindex="0" checked="" class="c-checkbox__input">
  <label for="checkbox1" class="c-checkbox__label c-icon c-icon--check">
    <span id="checkbox1-label">
      None
    </span>
  </label>
</div>

      </div>
      <div class="l-container l-container--full-width">
        <div class="l-grid l-grid--max-width">
          <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
              <div class="c-notification c-notification--info">
  <div class="c-notification__content">
        <p class="c-copy ">
  
     
    <em class="c-notification__item__icon icons-oneweb-allianz-Icon_Information u-margin-right-sm"></em> Please note: In case of no anti-thef security, we cannot offer anti-theft insurance.
  
</p>



    <ul class="c-notification__list">
    </ul>

  </div>
</div>

            </div>
          </div>
        </div>
      </div>
</div>