<div class="l-container l-container--full-width t-bg-soft-beige-lightest u-padding-top-lg u-padding-bottom-lg">
    <div class="l-grid l-grid--max-width">
      <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
              <h3 class="c-heading u-text-center">

 ${properties.text}
   

</h3>

            </div>
            <div class="l-grid__column-12">
              <p class="c-copy u-text-center c-copy--large u-padding-top-sm u-margin-bottom-0">
  
    explanation goes here
    
  
</p>

            </div>
            <div class="l-grid__column-12 l-grid__column-medium-4 u-padding-top-lg">
              <div class="c-poland-form-select js-poland-form-select ">
  <span class="c-poland-form-select__placeholder">Choose</span>
  <span class="c-poland-form-select__icon c-icon c-icon--chevron-down"></span>
  <div class="c-poland-form-select__option-container">
      <div class="c-poland-form-select__filter">
          <input type="text" placeholder="Select engine size">
      </div>
    <div class="c-poland-form-select__option-list">
          <ul class="c-poland-form-select__option-group">
                <li class="c-poland-form-select__option">
                  
                  5634
                </li>
                <li class="c-poland-form-select__option">
                  
                  6424
                </li>
                <li class="c-poland-form-select__option">
                  
                  2987
                </li>
                <li class="c-poland-form-select__option">
                  
                  3200
                </li>
          </ul>
    </div>
  </div>
</div>


            </div>
            <div class="l-grid__column-12 l-grid__column-medium-4 u-padding-top-lg">
              <div class="c-poland-form-select js-poland-form-select ">
  <span class="c-poland-form-select__placeholder">Choose</span>
  <span class="c-poland-form-select__icon c-icon c-icon--chevron-down"></span>
  <div class="c-poland-form-select__option-container">
      <div class="c-poland-form-select__filter">
          <input type="text" placeholder="Select engine power">
      </div>
    <div class="c-poland-form-select__option-list">
          <ul class="c-poland-form-select__option-group">
                <li class="c-poland-form-select__option">
                  
                  259/352
                </li>
                <li class="c-poland-form-select__option">
                  
                  344/468
                </li>
                <li class="c-poland-form-select__option">
                  
                  140/190
                </li>
          </ul>
    </div>
  </div>
</div>


            </div>
      </div>
    </div>
  </div>