<div class="l-container l-container--full-width u-margin-top-lg">
    <div class="l-grid l-grid--max-width">
      <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
              <h3 class="c-heading u-text-center">

  ${properties.text}
   

</h3>

            </div>
            <div class="l-grid__column-12">
              <p class="c-copy u-text-center c-copy--large u-padding-top-sm u-margin-bottom-0">
  
    explanation goes here
    
  
</p>

            </div>
            <div class="l-grid__column-12">
              <p class="c-copy u-text-center c-copy--large u-margin-bottom-0">
  
    and more in here
    
  
</p>

            </div>
            <div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
              <div class="c-checkbox ">
  <input type="checkbox" name="equipment1" id="equipment1" aria-labelledby="equipment1-label" tabindex="0" class="c-checkbox__input">
  <label for="equipment1" class="c-checkbox__label c-icon c-icon--check">
    <span id="equipment1-label">
      Alarm
    </span>
  </label>
</div>

            </div>
            <div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
              <div class="c-checkbox ">
  <input type="checkbox" name="equipment2" id="equipment2" aria-labelledby="equipment2-label" tabindex="0" class="c-checkbox__input">
  <label for="equipment2" class="c-checkbox__label c-icon c-icon--check">
    <span id="equipment2-label">
      Electronically adjustable passenger seat
    </span>
  </label>
</div>

            </div>
            <div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
              <div class="c-checkbox ">
  <input type="checkbox" name="equipment3" id="equipment3" aria-labelledby="equipment3-label" tabindex="0" class="c-checkbox__input">
  <label for="equipment3" class="c-checkbox__label c-icon c-icon--check">
    <span id="equipment3-label">
      Automatic air conditioning
    </span>
  </label>
</div>

            </div>
            <div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
              <div class="c-checkbox ">
  <input type="checkbox" name="equipment4" id="equipment4" aria-labelledby="equipment4-label" tabindex="0" class="c-checkbox__input">
  <label for="equipment4" class="c-checkbox__label c-icon c-icon--check">
    <span id="equipment4-label">
      Electrically adjustable exterior mirrors
    </span>
  </label>
</div>

            </div>
            <div class="l-grid__column-12">
              <div class="l-grid__row justify-content-center u-padding-top-lg">
                <button class="c-button " type="">
  MORE OPTIONS
</button>

              </div>
            </div>
      </div>
    </div>
  </div>